.bank-tile-modal-wrapper {
	position: relative;
	overflow-y: auto;
	background-color: #fff;
	min-height: 100%;
	min-width: 100%;
}

.bank-tile-modal {
	min-height: 100%;
	min-width: 100%;
}

.bank-tile-modal .modal__close i {
	font-size: 16px;
}

.bank-tile-modal a[href^="tel:"]:not(:hover) {
	color: #0e1829;
}

/* bank-tile-modal__head */
.bank-tile-modal__head {
	padding: 25px 15px 15px 15px;
}

.bank-tile-modal__logo img {
	max-height: 45px;
	max-width: 100px;
}

.bank-tile-modal__name {
	font-size: 14px;
	color: #6b737d;
}

.bank-tile-modal__name .accent {
	font-size: 26px;
	color: #0e1829;
}

/* bank-tile-modal__head //end */

/* bank-tile-modal__map */
.bank-tile-modal__map {
	height: 150px;
	width: 100%;
	background-color: #94f146;
}

/* bank-tile-modal__map //end */

/* bank-tile-modal__shot-info */
.bank-tile-modal__shot-info {
	padding: 15px;
}

.bank-tile-modal__shot-info [class^="icon-"] {
	font-size: 0.8em;

}

.bank-tile-modal__shot-info [class^="icon-"].fake-link {
	font-size: 1em;

}

.bank-tile-modal__shot-info > div {
	padding-left: 23px;
	position: relative;
}

.bank-tile-modal__shot-info > div [class^="icon-"]:first-of-type {
	color: #f78f1e;
	position: absolute;
	left: 0;
	top: 4px;
}

/* bank-tile-modal__shot-info //end */

/* bank-tile-modal__info */
.bank-tile-modal__info-item {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 40px;
}

.bank-tile-modal__info-item:first-child {
	border-top: 1px solid #ebebeb;
}

.bank-tile-modal__info-item-title {
	font-family: roboto-bold;
	font-size: 16px;
	position: relative;
}

.bank-tile-modal__info-item-title:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -25px;
	color: #f78f1e;
	font-family: icomoon;
	font-size: 0.8em;
}

.bank-tile-modal__info-item-title:after {
	content: "\e915";
	font-family: icomoon;
	color: #b4c6d2;
	position: absolute;
	right: -25px;
	top: 0;
	font-size: 0.7em;
	transition: transform .25s;
}

.bank-tile-modal__info-item-title.toggled:after {
	transform: rotate(180deg);
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--branch-hours .bank-tile-modal__info-item-title:before {
	content: "\e91c";
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--branch-services .bank-tile-modal__info-item-title:before {
	content: "\e921";
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--atm-languages .bank-tile-modal__info-item-title:before {
	content: "\e91d";
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--atm-services .bank-tile-modal__info-item-title:before {
	content: "\e921";
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--advisor .bank-tile-modal__info-item-title:before {
	content: "\e90e";
}

.bank-tile-modal__info-item-container {
	display: none;
}

/* bank-tile-modal__info-item-data */
.bank-tile-modal__info-item-data {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 10px 15px;
	padding: 15px 0 0 0;
	list-style-type: none;
}

.bank-tile-modal__info-item-data [class^="icon-"] {
	font-size: 1em;
}

.bank-tile-modal__info-item-data li:not(.error) [class^="icon-"] {
	color: #b4c6d2;
	padding-left: 5px;
	cursor: pointer;
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--branch-hours .bank-tile-modal__info-item-data li {
	display: flex;
	justify-content: space-between;
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--branch-services .bank-tile-modal__info-item-data {
	grid-template-columns: 1fr;
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--atm-languages .bank-tile-modal__info-item-data {
	grid-template-columns: 1fr;
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--atm-services .bank-tile-modal__info-item-data {
	grid-template-columns: 1fr;
}

.bank-tile-modal__info-item.bank-tile-modal__info-item--advisor .bank-tile-modal__info-item-data li {
	display: flex;
	justify-content: space-between;
}

/* bank-tile-modal__info-item-data //end */

/* bank-tile-modal__info //end */

/* bank-tile-modal__navs */
.bank-tile-modal__navs {
	padding: 15px;
	font-size: 14px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	align-items: center;
}

.bank-tile-modal__navs > * {
	display: grid;
	grid-template-columns: fit-content(100%) fit-content(100%);
	align-items: center;
	grid-gap: 5px;
}

.bank-tile-modal__navs > *:last-child {
	justify-content: flex-end;
}

/* bank-tile-modal__navs //end */