@media screen and (max-width: 760px) {
	.error__code {
		font-size: 60px;
		top: calc(50% - 85px);
		left: calc(50% - 55px)
	}
}

@media screen and (max-width: 768px) {
	.error {
		padding-top: 50px;
	}
	.error__title {
		font-size: 30px;
	}
	.error__sub-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 560px) {
	.error__code {
		font-size: 40px;
		top: calc(50% - 55px);
		left: calc(50% - 40px)
	}
}

@media screen and (max-width: 440px) {
	.error__code {
		font-size: 36px;
		top: calc(50% - 40px);
		left: calc(50% - 35px)
	}
}