.error__title {
	font-size: 44px;
	font-family: "roboto-light";
	text-align: center;
	margin-bottom: 15px;
}

.error__sub-title {
	text-align: center;
	font-family: "roboto-light";
	font-size: 24px;
	margin-bottom: 15px;
}

.error__button-container {
	text-align: center;
	margin-bottom: 35px;
}

.error__image-block {
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ebebeb;
}

.error__image {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.error__code {
	position: absolute;
	top: calc(50% - 120px);
	left: calc(50% - 90px);
	font-size: 100px;
	line-height: 1;
	color: #fff;
	text-shadow: 0 0 17px #5c5c5c;
	opacity: .9;
	font-weight: bold;
}