/* dropdown-search-container */
.dropdown-search-container * {
	box-sizing: border-box;
}

/* dropdown-search-container--big */
.dropdown-search-container.dropdown-search-container--big .dropdown-search-container__select {
	min-height: 60px;
	font-size: 18px;
}

.dropdown-search-container.dropdown-search-container--big .dropdown-search-container__img {
	height: 38px;
}

/* dropdown-search-container--big //end */

.dropdown-search-container {
	position: relative;
}

.dropdown-search-container.disabled {
	pointer-events: none;
}

.dropdown-search-container.disabled .dropdown-search-container__select {
	background-color: #ebebeb;
}

.dropdown-search-container__select {
	display: flex;
	justify-content: space-between;
	transition: box-shadow .25s, border-color .25s;
	border: 1px solid #b4c6d2;
	align-items: center;
	min-height: 40px;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 3px;
	background: #fff;
	color: #263042;
}

.dropdown-search-container__select i {
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
	display: -ms-inline-flexbox;
	display: inline-flex;
	pointer-events: none;
}

.dropdown-search-container__select-wrapper {
	display: flex;
	align-items: center;
}

.dropdown-search-container__img {
	height: 20px;
	width: auto;
	margin-right: 15px;
}

.dropdown-search-container.active {
	z-index: 2;
}

.dropdown-search-container.active .dropdown-search-container__select {
	border-radius: 3px 3px 0 0;
	border-color: #3b6cbc;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
}

.dropdown-search-container.active .dropdown-search-container__select i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* dropdown-search-container */

/* dropdown-search */
.dropdown-search {
	-webkit-transition: opacity .25s ease, -webkit-transform 0.25s ease;
	-o-transition: opacity .25s ease, transform 0.25s ease;
	transition: opacity .25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
	background: #fff;
	position: absolute;
	width: 100%;
	right: 0;
	top: calc(100% + 1px);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px 0 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px 0 5px rgba(0, 107, 181, 0.3);
}

.dropdown-search.active {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown-search__title {
	font-family: roboto-bold;
	font-size: 18px;
	padding: 20px 20px 5px 20px;
}

.dropdown-search__autocompleter {
	padding: 20px 15px;
	position: relative;
	overflow-y: auto;
	max-height: 300px;
}

.dropdown-search__autocompleter .form-search {
	margin-top: 15px;
	padding: 0 15px 1px 15px;
}

.dropdown-search__autocompleter .form-search:after {
	right: 30px;
	top: 10px;
}

.dropdown-search__autocompleter .form-search .autoCompleteList {
	position: static;
}

.dropdown-search.dropdown-search--static-only .dropdown-search__autocompleter {
	padding: 15px;
}

/* dropdown-search--left */
.dropdown-search.dropdown-search--left {
	right: auto;
	left: 0;
}

.dropdown-search.dropdown-search--left:before {
	right: auto;
	left: 10px;
}

/* dropdown-search--left */

.dropdown-search__static-results {
	margin: 0 -15px 0 -15px;
}

.dropdown-search__static-results ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-search__static-results ul li {
	padding: 8px 20px;
	margin: 0;
	transition: background-color .25s, color .25s;
	color: #6b737d;
}

.dropdown-search__static-results ul li:hover,
.dropdown-search__static-results ul li.active {
	background-color: #ebf6fb;
	color: #0e1829;
}

.dropdown-search__static-results ul li a {
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #6b737d;
}

.dropdown-search__static-results ul li:hover a,
.dropdown-search__static-results ul li.active a {
	color: #0e1829;
}

[data-toggle="dropdown-search"] .ic-arrow_down {
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

