
.bank-tile {
	position: relative;
}

/* bank-tile__head */
.bank-tile__head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}

.bank-tile__name {
	margin-right: 20px;
}

.bank-tile__name-name {
	font-size: 18px;
}

.bank-tile__name-subname {
	font-size: 14px;
	margin-top: 5px;
	color: #6b737d;
}

.bank-tile__logo {
	display: inline-block;
	margin-bottom: 10px;
}

.bank-tile__logo img {
	max-width: 100px;
	max-height: 45px;
}

.bank-tile__distance {
	font-size: 14px;
	color: #6b737d;
}

.bank-tile__distance .accent {
	font-size: 30px;
	color: #0e1829;
}

/* bank-tile__head //end */

/* bank-tile__body */
.bank-tile__body {
	margin-bottom: 15px;
}

.bank-tile__body ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bank-tile__body ul > li {
	margin-bottom: 15px;
	font-size: 16px;
	padding-left: 23px;
	position: relative;
	line-height: 1.4;
}

.bank-tile__body ul > li a:not(:hover) {
	color: #0e1829;
}

.bank-tile__body ul > li [class^="icon-"] {
	font-size: 0.8em;

}

.bank-tile__body ul > li [class^="icon-"]:first-of-type {
	color: #f78f1e;
	position: absolute;
	left: 0;
	top: 4px;
}

.bank-tile__body ul > li.error [class^="icon-"]:first-of-type {
	color: #f71e1e;
}

.bank-tile__body ul > li.success [class^="icon-"]:first-of-type {
	color: #5bbb10;
}

.bank-tile__body ul > li.sublime [class^="icon-"]:first-of-type {
	color: #6b737d;
}

.bank-tile__body ul > li:last-child {
	margin-bottom: 0;
}

/* bank-tile__body //end */

/* bank-tile__footer */

.bank-tile__footer > * {
	font-size: 14px;
	margin-right: 30px;
	display: inline-flex;
	position: relative;
}

.bank-tile__footer > *:before {
	display: inline-flex;
	content: "";
	height: 10px;
	width: 1px;
	background-color: #ebebeb;
	position: absolute;
	right: -15px;
	top: 4px;
}

.bank-tile__footer > *:last-child {
	margin-right: 0;
}

.bank-tile__footer > *:last-child:before {
	display: none;
}

/* bank-tile__footer //end */
