.sticky-info {
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	padding: 15px 0;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	pointer-events: none;
	transition: transform .3s;
	transform: translateY(-110%);
}

.sticky-info.active {
	pointer-events: auto;
	transform: translateY(0);
}

.sticky-info .container {
	position: relative;
}

.sticky-info__wrapper {
	display: flex;
	cursor: pointer;
}

.sticky-info__wrapper.sticky-info__wrapper--aic {
	align-items: center;
}

.sticky-info__wrapper.sticky-info__wrapper--spb {
	justify-content: space-between;
}

.sticky-info__img {
	padding-top: 0;
}

.sticky-info__img img {
	max-height: 30px;
	max-width: 140px;
	width: auto;
	height: auto;
}

.sticky-info__info {
	pointer-events: none;
	padding-right: 30px;
}

.sticky-info__up {
	font-family: icomoon;
	color: #b4c6d2;
	font-size: 12px;
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.sticky-info__up:before {
	content: "\e916";
}

.sticky-info__logo {
	display: flex;
	align-items: center;
	max-width: 50%;
}

.sticky-info__logo .bank_icon {
	margin-right: 5px;
}

.pl-2 {
	padding-left: 2px;
}

/*TODO: быстрый фикс, чтобы меню не плавало при верхнем прилипающем информационном блоке*/
.main_nav.fixed {
	position: absolute !important;
}

header.header {
	position: static;
}




