.pennon {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	width: 2em;
	height: 2.5em;
	padding: 0.35em 0.5em;
	box-sizing: border-box;
	position: relative;
	line-height: 1em;
}

.pennon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #b4c6d2;
	width: 100%;
	height: 100%;
	border-radius: 0.35em 0.35em 0 0;
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
}

.pennon_icon {
	color: #fff;
	z-index: 2;
	position: relative;
	font-size: 1em;
	line-height: 1em;
}
