@media screen and (min-width: 768px) {
	.modal-city__content {
		padding: 15px;
	}
	.modal-city__search {
		display: flex;
		align-items: center;
		padding-right: 40px;
	}

	.modal-city__search-title {
		font-size: 20px;
		margin-right: 40px;
		margin-bottom: 0;
		flex-shrink: 0;
	}

	.modal-city__search .form-search {
		flex-grow: 2;
		width: auto;
	}

	.modal-city__popular {
		display: flex;
		align-items: center;
	}

	.modal-city__popular-title {
		margin-right: 15px;
		margin-bottom: 0;
	}

	.modal-city__popular-list {
		display: flex;
		flex-wrap: wrap;
	}

	.modal-city__popular-list li {
		margin-right: 10px;
		margin-bottom: 0;
	}

	.modal-city__cities {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.modal-city__cities > a {
		width: calc(100% / 3);
		padding-right: 20px;
	}
	.modal-city__cities > a:last-child {
		margin-bottom: 10px;
	}

	.modal-city__cities-list {
		padding-bottom: 5px;
	}

}

@media screen and (min-width: 991px) {
	.modal-city__cities > a {
		width: calc(100% / 4);
	}
}