@media screen and (min-width: 767px) {
	.filter.filter--chase-bank .filter__grid {
		grid-template-columns: 1fr 1fr min-content;
		grid-template-areas: "select-bank select-city btn";
		grid-gap: 20px 15px;
	}
}

@media screen and (min-width: 1024px) {
	.filter.filter--chase-bank .filter__grid {
		grid-template-columns: 1fr 1.5fr min-content;
	}
}
