@media screen and (min-width: 767px) {
	/* filter--big */
	.filter.filter--big .input {
		height: 60px;
	}
	.filter.filter--big .input input {
		font-size: 18px;
	}

	.filter.filter--big .btn.btn--square {
		height: 60px;
		width: 80px;
	}

	.filter.filter--big .dropdown-search-container__select {
		height: 60px;
		font-size: 18px;
	}

	.filter.filter--big input::-webkit-input-placeholder {
		font-size: 18px;
	}

	.filter.filter--big input::-moz-placeholder {
		font-size: 18px;
	}

	/* Firefox 19+ */
	.filter.filter--big input:-moz-placeholder {
		font-size: 18px;
	}

	/* Firefox 18- */
	.filter.filter--big input:-ms-input-placeholder {
		font-size: 18px;
	}
	/* filter--big //end */
}