.filter.filter--chase-bank .filter__grid {
	grid-template-columns: 1fr min-content;
	grid-template-rows: auto;
	grid-template-areas: "select-bank select-bank" "select-city btn";
	grid-gap: 20px 15px;
}

.filter.filter--chase-bank .filter__cell:nth-child(1) {
	grid-area: select-bank;
}

.filter.filter--chase-bank .filter__cell:nth-child(2) {
	grid-area: select-city;
}

.filter.filter--chase-bank .filter__cell:nth-child(3) {
	grid-area: btn;
}