.learn-more {
	display: flex;
}

.learn-more__img {
	width: 30px;
	min-height: 30px;
	margin-right: 10px;
	flex-shrink: 0;
	line-height: 1;
}

.learn-more__img img {
	width: 100%;
	height: auto;
}

.learn-more__text {
	font-size: 16px;
}

.learn-more__text-accent {
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
}

.learn-more__text.learn-more__text--pt {
	padding-top: 5px;
}