.select-currency {
	width: 100%;
	position: relative;
}

.select-currency.active .select-menu {
	visibility: visible;
	opacity: 1;
}

.select-currency__close {
	display: none;
}

.select-currency__icon {
	position: absolute;
	top: 22px;
	right: 10px;
	color: #000;
	font-size: 14px;
}