.select-currency-item {
	width: 100%;
	min-width: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	position: relative;
	z-index: 5;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	border: 1px solid #b4c6d2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.select-currency-item.active {
	border-color: transparent;
}

.select-currency-item__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 15px;
}

.select-currency-item__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 10px;
}

.select-currency-item__text-top {
	font-size: 18px;
	color: #263042;
}

.select-currency-item__text-bottom {
	font-size: 16px;
	color: #6b737d;
}

.select-currency-item.active .select-currency-item__text {
	display: none;
}

.select-currency-item__search {
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.select-currency-item.active .select-currency-item__search {
	display: block;
	width: 100%;
	height: 100%;
}

.select-currency-item__search-input {
	width: 100%;
	height: 100%;
	font-size: 16px;
	position: relative;
	border: 1px solid #3b6cbc;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px 0 50px;

}

.select-currency-item__search-input:focus {
	-webkit-box-shadow: 2px 2px 5px rgba(247, 143, 30, 0.3), -2px -2px 5px rgba(247, 143, 30, 0.3);
	box-shadow: 2px 2px 5px rgba(247, 143, 30, 0.3), -2px -2px 5px rgba(247, 143, 30, 0.3);
	border-color: #f78f1e;
}

.select-currency-item__search-icon {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
	color: #b4c6d2;
	z-index: 2;
}

.select-currency-item__search-input::-webkit-input-placeholder {
	font-size: 14px;
	color: #999;
}

.select-currency-item__search-input::-moz-placeholder {
	font-size: 14px;
	color: #999;
}

.select-currency-item__search-input:-moz-placeholder {
	font-size: 14px;
	color: #999;
}

.select-currency-item__search-input:-ms-input-placeholder {
	font-size: 14px;
	color: #999;
}

.select-currency-item__image {
	width: 32px;
	height: 22px;
}