@media screen and (min-width: 768px) {
	.terms-search__container {
		display: grid;
		grid-template-areas: "search info" "examples examples" "alphabet alphabet";
		grid-column-gap: 20px;
		grid-template-columns: 1fr fit-content(100%);
	}

	.terms-search__search {
		grid-area: search;
	}

	.terms-search__search .search__btn {
		display: flex;
	}

	.terms-search__info {
		grid-area: info;
		justify-content: flex-start;
		margin-top: 0;
	}

	.terms-search__info-item {
		justify-content: flex-start;
		flex-grow: 0;
	}

	/* terms-search__examples  */
	.terms-search__examples {
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		margin-top: 10px;
		grid-area: examples;
	}

	.terms-search__examples-title {
		margin-right: 5px;
	}

	.terms-search__examples-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}

	.terms-search__examples-list > li {
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.terms-search__alphabet {
		grid-area: alphabet;
	}

	/* terms-search__examples //end */
	.terms-search__mob-btn {
		display: none;
	}
}