.terms-search__title {
	font-size: 18px;
	margin-bottom: 15px;
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
}

.terms-search__search .search__btn {
	display: none;
}

/* terms-search__info */
.terms-search__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	margin-top: 15px;
}

.terms-search__info-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 2;
}

.terms-search__info-item [data-js="toggle-item"] i {
	transform: rotate(180deg);
	transition: transform .25s;
}

.terms-search__info-item [data-js="toggle-item"].toggled i {
	transform: rotate(0);
}

.terms-search__info-item:first-child {
	justify-content: flex-start;
}

.terms-search__info-item:before {
	content: "";
	width: 1px;
	height: 15px;
	background-color: #b4c6d2;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-flex;
}

.terms-search__info-item:first-child:before {
	width: 0;
	margin: 0;
}

.terms-search__info-item > * {
	margin-left: 5px;
	display: inline-flex;
	align-items: center;
}

.terms-search__info-item > *:first-child {
	margin-left: 0;
}

/* terms-search__info //end */

/* terms-search__examples  */
.terms-search__examples {
	display: none;
}

/* terms-search__examples //end */

.terms-search__alphabet {
	margin-top: 15px;
}

.terms-search__mob-btn {
	display: flex;
	width: 100%;
	margin-top: 15px;
}

.terms-search__mob-btn .btn {
	width: 100%;
}
