@media screen and (min-width: 768px) {
	/* products-table--change-768 */
	.products-table.products-table--change-768 .products-table__head {
		display: grid;
		border-bottom: 1px solid #b4c6d2;
	}

	.products-table.products-table--change-768 .products-table__head-item {
		font-size: 16px;
		color: #6b737d;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.products-table.products-table--change-768 .products-table__head-item:first-child {
		padding-left: 30px;
	}

	.products-table.products-table--change-768 .products-table__head-item:last-child {
		padding-right: 30px;
	}

	.products-table.products-table--change-768 .products-table__body-item {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #ebebeb;
		transition: box-shadow .3s;
		margin-bottom: 0;
	}

	.products-table.products-table--change-768 .products-table__body-item:hover {
		box-shadow: 0 7px 20px rgba(38, 48, 66, 0.2);
	}

	.products-table.products-table--change-768 .products-table__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.products-table.products-table--change-768 .products-table__footer-item {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.products-table.products-table--change-768 .products-table__footer-item:last-child {
		margin-right: 0;
	}
	/* products-table--change-768 */
}

@media screen and (min-width: 991px) {
	/* products-table--change-991 */
	.products-table.products-table--change-991 .products-table__head {
		display: grid;
		border-bottom: 1px solid #b4c6d2;
	}

	.products-table.products-table--change-991 .products-table__head-item {
		font-size: 16px;
		color: #6b737d;
		padding-bottom: 10px;
	}

	.products-table.products-table--change-991 .products-table__head-item:first-child {
		padding-left: 30px;
	}

	.products-table.products-table--change-991 .products-table__head-item:last-child {
		padding-right: 30px;
	}

	.products-table.products-table--change-991 .products-table__body-item {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #ebebeb;
		transition: box-shadow .3s;
		margin-bottom: 0;
	}

	.products-table.products-table--change-991 .products-table__body-item:hover {
		box-shadow: 0 7px 20px rgba(38, 48, 66, 0.2);
	}

	.products-table.products-table--change-991 .products-table__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.products-table.products-table--change-991 .products-table__footer-item {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.products-table.products-table--change-991 .products-table__footer-item:last-child {
		margin-right: 0;
	}
	/* products-table--change-991 */
}

@media screen and (min-width: 1024px) {
	/* products-table--change-1024 */
	.products-table.products-table--change-1024 .products-table__head {
		display: grid;
		border-bottom: 1px solid #b4c6d2;
	}

	.products-table.products-table--change-1024 .products-table__head-item {
		font-size: 16px;
		color: #6b737d;
		padding-bottom: 10px;
	}

	.products-table.products-table--change-1024 .products-table__head-item:first-child {
		padding-left: 30px;
	}

	.products-table.products-table--change-1024 .products-table__head-item:last-child {
		padding-right: 30px;
	}

	.products-table.products-table--change-1024 .products-table__body-item {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #ebebeb;
		transition: box-shadow .3s;
		margin-bottom: 0;
	}

	.products-table.products-table--change-1024 .products-table__body-item:hover {
		box-shadow: 0 7px 20px rgba(38, 48, 66, 0.2);
	}

	.products-table.products-table--change-1024 .products-table__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.products-table.products-table--change-1024 .products-table__footer-item {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.products-table.products-table--change-1024 .products-table__footer-item:last-child {
		margin-right: 0;
	}
	/* products-table--change-1024 */
}

@media screen and (min-width: 1200px) {
	/* products-table--change-1200 */
	.products-table.products-table--change-1200 .products-table__head {
		display: grid;
		border-bottom: 1px solid #b4c6d2;
	}

	.products-table.products-table--change-1200 .products-table__head-item {
		font-size: 16px;
		color: #6b737d;
		padding-bottom: 10px;
	}

	.products-table.products-table--change-1200 .products-table__head-item:first-child {
		padding-left: 30px;
	}

	.products-table.products-table--change-1200 .products-table__head-item:last-child {
		padding-right: 30px;
	}

	.products-table.products-table--change-1200 .products-table__body-item {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #ebebeb;
		transition: box-shadow .3s;
		margin-bottom: 0;
	}

	.products-table.products-table--change-1200 .products-table__body-item:hover {
		box-shadow: 0 7px 20px rgba(38, 48, 66, 0.2);
	}

	.products-table.products-table--change-1200 .products-table__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.products-table.products-table--change-1200 .products-table__footer-item {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.products-table.products-table--change-1200 .products-table__footer-item:last-child {
		margin-right: 0;
	}
	/* products-table--change-1200 */
}