.products-table__head {
	display: none;
}

.products-table__body-item {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

.products-table__body-item-logo {
	min-width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
}

.products-table__body-item-logo a {
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.products-table__body-item-logo img {
	max-width: 80px;
	max-height: 50px;
}

.products-table__body-item-name {
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.products-table__body-item:last-child {
	margin-bottom: 0;
}

.products-table__footer {
	margin-top: 30px;
}

.products-table__footer-item {
	margin-bottom: 15px;
}

.products-table__footer-item:last-child {
	margin-bottom: 0;
}