/* products-table--banks */
.products-table.products-table--banks .products-table__body-item {
	display: grid;
	grid-template-areas: "logo name" "branches assets" "more near" "additional-info additional-info" "addresses addresses";
	grid-template-columns: 1fr 1fr;
}

.products-table.products-table--banks .products-table__body-item-logo,
.products-table.products-table--banks .products-table__body-item-name {
	padding: 15px 10px;
	border-bottom: 1px solid #b4c6d2;
}

.products-table.products-table--banks .products-table__body-item-logo {
	grid-area: logo;
}

.products-table.products-table--banks .products-table__body-item-name {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-area: name;
}

.products-table.products-table--banks .products-table__body-item-branches,
.products-table.products-table--banks .products-table__body-item-assets {
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
}

.products-table.products-table--banks .products-table__body-item-branches {
	grid-area: branches;
	font-size: 14px;
}

.products-table.products-table--banks .products-table__body-item-branches [class^="icon-"] {
	transition: transform .3s;
	display: inline-block;
}

.products-table.products-table--banks .products-table__body-item-branches .toggled [class^="icon-"] {
	transform: rotate(180deg);
}

.products-table.products-table--banks .products-table__body-item-assets {
	grid-area: assets;
	text-align: right;
}

.products-table.products-table--banks .products-table__body-item-more,
.products-table.products-table--banks .products-table__body-item-near {
	padding: 5px 10px 15px 10px;
	display: flex;
	flex-direction: column;
}

.products-table.products-table--banks .products-table__body-item-more {
	grid-area: more;
	font-size: 12px;
	color: #6b737d;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.products-table.products-table--banks .products-table__body-item-more > * {
	display: inline-flex;
	align-items: center;
}

.products-table.products-table--banks .products-table__body-item-more > *:before {
	content: "Show more";
	display: inline-flex;
	margin-right: 5px;
}

.products-table.products-table--banks .products-table__body-item-more > *:after {
	content: "\e915";
	font-family: icomoon;
	display: inline-flex;
	line-height: 1;
	font-size: 0.7em;

	transition: transform .3s;
}

.products-table.products-table--banks .products-table__body-item.toggled .products-table__body-item-more > *:before {
	content: "Hide";
}

.products-table.products-table--banks .products-table__body-item.toggled .products-table__body-item-more > *:after {
	transform: rotate(180deg);
}

.products-table.products-table--banks .products-table__body-item-near {
	grid-area: near;
	font-size: 14px;
}

.products-table.products-table--banks .products-table__body-item-near > * {
	display: grid;
	grid-template-areas: "icon text";
	grid-template-columns: fit-content(100%) fit-content(100%);
	align-items: center;
	justify-content: flex-end;
	grid-column-gap: 8px;
}

.products-table.products-table--banks .products-table__body-item-near [class^="icon-"] {
	grid-area: icon;
	font-size: 1em;
}

.products-table.products-table--banks .products-table__body-item-additional-info {
	display: none;
	position: relative;
	grid-area: additional-info;
	padding: 15px 10px;
	background-color: #f5fbfd;
}

.products-table.products-table--banks .products-table__body-item-additional-info .icon-close {
	display: none;
}

.products-table.products-table--banks .products-table__body-item-additional-info-title {
	font-family: roboto-bold;
	font-size: 16px;
	margin-bottom: 10px;
}

.products-table.products-table--banks .products-table__body-item-additional-info-item {
	margin-bottom: 10px;
}

.products-table.products-table--banks .products-table__body-item-additional-info-item:last-child {
	margin-bottom: 0;
}

.products-table.products-table--banks .products-table__body-item-additional-info-item span {
	font-size: 14px;
	color: #6b737d;
	display: inline-flex;
	margin-left: 5px;
	font-family: roboto-regular;
}

.products-table.products-table--banks .products-table__body-item-addresses {
	display: none;
	position: relative;
	grid-area: addresses;
	padding-top: 15px;
	background-color: #f5fbfd;
}

.products-table.products-table--banks .products-table__body-item-addresses-show-all {
	display: none;
}

.products-table.products-table--banks .products-table__body-item-addresses-show-all.active {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.products-table.products-table--banks .products-table__body-item-addresses-show-all.active:before {
	content: attr(data-content);
}

.products-table.products-table--banks .products-table__body-item-addresses .icon-close {
	display: none;
}

/* adresses */

.products-table.products-table--banks .products-table__body-item-addresses-search {
	border-top: 1px solid #b4c6d2;
	border-bottom: 1px solid #b4c6d2;
}

.products-table.products-table--banks .products-table__body-item-addresses-item {
	padding: 15px 10px;
	border-bottom: 1px solid #ebebeb;
}

.products-table.products-table--banks .products-table__body-item-addresses-item:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-title {
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info {
	position: relative;
	margin-bottom: 10px;
	font-size: 16px;
	padding-left: 23px;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info:last-child {
	margin-bottom: 0;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info [class^="icon-"] {
	font-size: 0.8em;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info [class^="icon-"]:first-of-type {
	color: #f78f1e;
	position: absolute;
	left: 0;
	top: 4px;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info.error,
.products-table.products-table--banks .products-table__body-item-addresses-item-info.error [class^="icon-"]:first-of-type {
	color: #f71e1e;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info.success,
.products-table.products-table--banks .products-table__body-item-addresses-item-info.success [class^="icon-"]:first-of-type {
	color: #5bbb10;
}

.products-table.products-table--banks .products-table__body-item-addresses-item-info.sublime,
.products-table.products-table--banks .products-table__body-item-addresses-item-info.sublime [class^="icon-"]:first-of-type {
	color: #6b737d;
}

/* adresses //end */

.products-table.products-table--banks .products-table__body-item-subtext {
	font-size: 12px;
	color: #6b737d;
	margin-bottom: 5px;
}

/* products-table--banks //end */