.params-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* params-list--spb */
.params-list.params-list--spb .params-list__item {
	justify-content: space-between;
}

/* params-list--spb //end*/

.params-list__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
}

.params-list__item p {
	margin-bottom: 10px;
}

.params-list__item p:last-child {
	margin-bottom: 0;
}

.params-list__item:first-child .params-list__item-title,
.params-list__item:first-child .params-list__item-data {
	margin-top: 0;
}

.params-list__item:first-child {
	margin-top: 0;
}

.params-list__item-title {
	font-size: 16px;
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.params-list__item-data {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.4;
}

/* params-list--col */
.params-list.params-list--col .params-list__item {
	flex-direction: column;
	align-items: flex-start;
	margin-top: 15px;
}

.params-list.params-list--col .params-list__item:first-child {
	margin-top: 0;
}

.params-list.params-list--col .params-list__item-title {
	margin: 0;
}

.params-list.params-list--col .params-list__item-data {
	margin: 10px 0 0 0;
}

/* params-list--col //end */

/* params-list--table */
.params-list.params-list--table {
	display: table;
}

.params-list.params-list--table .params-list__item {
	display: table-row;
	margin: 0;
	padding: 0;
}

.params-list.params-list--table .params-list__item .params-list__item-title,
.params-list.params-list--table .params-list__item .params-list__item-data {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	border-bottom: 1px solid #ebebeb;
}

.params-list.params-list--table .params-list__item:first-child .params-list__item-title,
.params-list.params-list--table .params-list__item:first-child .params-list__item-data {
	padding-top: 0;
}

.params-list.params-list--table .params-list__item:last-child .params-list__item-title,
.params-list.params-list--table .params-list__item:last-child .params-list__item-data {
	padding-bottom: 0;
	border-bottom: none;
}

.params-list.params-list--table .params-list__item-title,
.params-list.params-list--table .params-list__item-data {
	display: table-cell;
}

.params-list.params-list--table .params-list__item-title {
	padding-right: 15px;
}

/* params-list--table //end */

/* params-list--table--no-borders  */
.params-list.params-list--table.params-list--table--no-borders .params-list__item .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders .params-list__item .params-list__item-data {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: none;
}

.params-list.params-list--table.params-list--table--no-borders .params-list__item:first-child .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders .params-list__item:first-child .params-list__item-data {
	padding-top: 0;
}

.params-list.params-list--table.params-list--table--no-borders .params-list__item:last-child .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders .params-list__item:last-child .params-list__item-data {
	padding-bottom: 0;
	border-bottom: none;
}

/* params-list--table--no-borders //end */

/* params-list--table--no-borders-middle */
.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item .params-list__item-data {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: none;
}

.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item:first-child .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item:first-child .params-list__item-data {
	padding-top: 0;
}

.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item:last-child .params-list__item-title,
.params-list.params-list--table.params-list--table--no-borders-middle .params-list__item:last-child .params-list__item-data {
	padding-bottom: 0;
	border-bottom: none;
}

/* params-list--table--no-borders-middle //end */

/* params-list--title-fixed-width */
.params-list.params-list--title-fixed-width .params-list__item-title {
	width: 165px;
}

/* params-list--title-fixed-width //end */