@media screen and (max-width: 991px) {
	.table-blue__cell--first {
		padding-left: 0;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 14px;
	}
	.table-blue__row-title .table-blue__cell-title:first-child {
		padding-left: 0;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.table-blue__cell--second {
		display: none;
	}
	.table-blue__row-title .table-blue__cell-title:nth-child(2) {
		display: none;
	}
	.table-blue__cell {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		font-size: 14px;
		padding: 10px;
	}
	.table-blue__row-title .table-blue__cell-title:first-child {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding: 10px;
		width: 30%;
	}
	.table-blue__row-title .table-blue__cell-title:nth-child(3) {
		width: 40%;
	}
	.table-blue__row-title .table-blue__cell-title:nth-child(4) {
		width: 30%;
	}
	.table-blue {
		margin-right: -10px;
		margin-left: -10px;
	}
	.table-blue__cell-title {
		font-size: 14px;
	}
	.table-blue__row {
		padding-left: 10px;
		padding-right: 10px;
	}
	.table-blue__span {
		display: none;
	}
	.table-blue__cell--first {
		width: 30%;
	}
	.table-blue__cell--third {
		width: 40%;
	}
	.table-blue__cell--four {
		width: 30%;
	}
	.table-blue__row-title {
		min-height: auto;
	}
}