.scorer {
	display: grid;
	grid-template-columns: fit-content(100%) 1fr;
	grid-template-areas: "scorer title" "scorer content";
	grid-column-gap: 15px;
}

.scorer.scorer--content-centered .scorer__content {
	display: flex;
	align-items: center;
}

.scorer__scorer {
	grid-area: scorer;
	align-self: flex-end;
}

.scorer__scorer img {
	width: auto;
	min-width: 48px;
	height: 28px;
	object-fit: contain;
}

.scorer__title {
	font-size: 14px;
	margin-bottom: 5px;
	color: #6b737d;
	grid-area: title;
}

.scorer__content {
	grid-area: content;
}