@media screen and (max-width: 1160px) {
	.conversion__first-cell {
		width: 20%;
	}

	.conversion__second-cell {
		width: 67%;
	}
}

@media screen and (max-width: 991px) {
	.conversion__form-row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.conversion__first-cell {
		width: 100%;
		padding-bottom: 20px;
	}

	.conversion__input {
		width: 100%;
		height: 50px;
	}

	.selectric__small-text {
		display: none;
	}

	.conversion__btn {
		height: 50px;
	}

	.conversion__links {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.conversion__cell-title {
		display: none;
	}

	.conversion__links-right {
		padding-top: 20px;
	}

	.conversion .selectric {
		height: 50px;
	}

	.conversion .selectric__small-text {
		display: none;
	}

	.conversion__second-cell {
		width: 84%;
	}

	.conversion .select-currency-item {
		height: 50px;
	}

	.conversion .select-currency__icon {
		top: 14px;
		right: 5px;
	}

	.conversion .select-currency-item__search-icon {
		top: 14px;
	}

	.conversion__about-currency {
		width: 49%;
	}
	.select-currency-item__text-bottom {
		display: none;
	}

	.conversion__arrows {
		padding: 10px 5px;
		height: 50px;
	}
	.conversion__two-arrows {
		font-size: 26px;
	}
}

@media screen and (max-width: 768px) {
	.conversion__inside {
		padding: 25px 10px;
	}

	.conversion__form-cell--width {
		width: 44%;
	}

	.conversion__third-cell {
		width: 60px;
	}

	.conversion__btn {
		width: 100%;
	}

	.conversion__second-cell {
		width: 74%;
	}

	.conversion .label .selectric__list-img {
		max-height: 11px;
		margin-right: 5px;
		margin-top: 0;
	}

	.conversion .label .selectric__list-item {
		padding: 10px 0;
		height: 30px;
	}

	.conversion .selectric .label {
		height: 50px;
		width: 100%;
		padding: 0 5px;
	}

	.conversion .selectric {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.conversion .selectric__icon {
		right: 2px;
	}

	.conversion .select-currency-item__image {
		width: 20px;
		height: 14px;
	}

	.conversion .select-currency-item__text {
		padding: 0 5px;
	}

	.conversion .select-currency-item__text-bottom {
		display: none;
	}

	.conversion .select-currency-item__right {
		padding-left: 5px;
	}

	.conversion .select-currency__icon {
		font-size: 10px;
		top: 18px;
		right: 3px;
		padding: 0 3px;
	}

	.conversion .select-currency.active {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(14, 24, 42, 0.7);
		z-index: 10;
	}

	.conversion .select-currency.active .select-currency__wrapp {
		width: 300px;
		padding-top: 35px;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
		position: absolute;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}

	.conversion .select-currency.active .select-menu {
		position: static;
	}

	.conversion .select-currency.active .select-currency__close {
		display: block;
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.conversion .select-currency.active .select-currency-item__search-input {
		border-top: 1px solid #b4c6d2;
		border-bottom: 1px solid #b4c6d2;
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}

	.conversion .select-currency.active .select-menu__wrapp {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.conversion .select-currency.active .select-currency-item__search-input:focus {
		border-bottom: 1px solid #f78f1e;
	}

	.conversion__value-text {
		font-size: 24px;
		line-height: 28px;
	}

	.conversion__info-date {
		font-size: 12px;
		line-height: 18px;
	}

	.conversion__link {
		font-size: 18px;
	}

	.conversion__link--width {
		font-size: 20px;
	}
	.conversion__links-right--mob {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		padding-top: 0;
		padding-bottom: 10px;
	}
	.conversion__text {
		font-size: 12px;
		line-height: 16px;
	}
	.conversion__links--mob .conversion__links-left {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.conversion__about-currency-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: -15px;
		margin-left: -15px;
	}
	.conversion__about-currency {
		width: 100%;
	}
	.conversion__about-currency-block .about-currency:last-child {
		margin-top: 20px;
	}
	.conversion__grey-text {
		font-size: 16px;
	}
	.conversion .container {
		padding-left: 0;
		padding-right: 0;
	}
	.conversion {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.conversion__value-text h2 {
		font-size: 26px;
	}
	.conversion .select-currency-item__text-top {
		font-size: 18px;
	}

	.conversion__value-text h2 {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.conversion__value-text h2 span {
		padding-bottom: 3px;
	}
	.conversion__value-text h2 span:last-child {
		padding-left: 3px;
	}
}

@media screen and (max-width: 550px) {
	.conversion .select-currency.active .select-currency__wrapp {
		width: 100vw;
		height: calc(100% - 61px);
		top: 61px;
		left: 0;
		transform: translate(0, 0);
	}

	.select-currency.active .select-menu,
	.select-currency.active .select-menu__wrapp {
		height: 100%;
	}

	.select-currency.active .select-menu__scroll {
		max-height: calc(100% - 50px);
	}
}

@media screen and (min-width: 767px) {
	.conversion__subtext {
		font-size: 18px;
	}
}