@media screen and (max-width: 991px) {
	.currency {
		position: absolute;
		bottom: -60px;
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	.currency__hidden {
		visibility: visible;
		opacity: 1;
		position: static;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.currency__btn {
		display: none;
	}
}