@media screen and (max-width: 1000px) {
	.relinking-block__menu {
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media screen and (max-width: 768px) {
	.relinking-block__menu {
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media screen and (max-width: 400px) {
	.relinking-block__menu {
		-webkit-column-count: 1;
		column-count: 1;
	}
}