.tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	padding: 5px 10px;
	color: #6b737d;
	border: 1px solid #ccc;
	border-radius: 2px;
	transition: border-color .25s;
	font-size: 12px;
	box-sizing: border-box;
}

.tag:hover {
	border-color: #6b737d;
	color: #6b737d;
}