@media screen and (max-width: 1191px) {
	.converter__item {
		padding-left: 45px;
	}
}

@media screen and (max-width: 991px) {
	.conversion--mt {
		margin-top: 0;
	}
	.converter__item {
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 768px) {
	.converter__item {
		width: 100%;
		padding-right: 0;
		margin-bottom: 15px;
	}
	.converter__form {
		max-width: 100%;
	}
	.converter .converter__item:last-child {
		margin-bottom: 0;
	}
}