.quick-menu__inside {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 5px;
}

.quick-menu__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}

.quick-menu__item:hover .quick-menu__image {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.quick-menu__item:hover .quick-menu__text {
	color: #f78f1e;
}

.quick-menu__image {
	will-change: transfrom;
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
	font-size: 0;
}

.quick-menu__image img {
	height: 30px;
	min-width: 25px;
	width: auto;
}

.quick-menu__text {
	color: #14509c;
	font-size: 12px;
	line-height: 14px;
	padding-top: 10px;
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-o-transition: color 0.25s;
	transition: color 0.25s;
	font-family: roboto-bold, Helvetica, Arial, sans-serif;
}

.quick-menu__link-absolute {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

/* quick-menu--v2 */
.quick-menu.quick-menu--v2 .quick-menu__inside {
	grid-gap: 15px;
}

.quick-menu.quick-menu--v2 .quick-menu__item {
	box-shadow: none;
	border: 1px solid #b4c6d2;
	border-radius: 3px;
	transition: box-shadow .25s;
	padding: 20px 10px;
	justify-content: center;
}

.quick-menu.quick-menu--v2 .quick-menu__item:hover {
	box-shadow: 0 2px 15px rgba(67, 67, 67, 0.2);
}

.quick-menu.quick-menu--v2 .quick-menu__text {
	font-size: 16px;
	line-height: 19px;
	color: #0e1829;
	text-align: center;
}

.quick-menu.quick-menu--v2 .quick-menu__item:hover .quick-menu__text {
	color: #0e1829;
}

.quick-menu.quick-menu--v2 .quick-menu__image img {
	height: 50px;
}

/* quick-menu--v2 //end */

/* quick-menu--scrollable-x */
.quick-menu.quick-menu--scrollable-x {
	position: relative;
	overflow-x: auto;
}

.quick-menu.quick-menu--scrollable-x .quick-menu__inside {
	grid-auto-flow: column;
	grid-template-columns: none;
}

.quick-menu.quick-menu--scrollable-x .quick-menu__item {
	min-width: 114px;
}

/* quick-menu--scrollable-x //end */

/* quick-menu--col */
.quick-menu.quick-menu--col-1 .quick-menu__inside {
	grid-template-columns: repeat(1, 1fr);
}

.quick-menu.quick-menu--col-2 .quick-menu__inside {
	grid-template-columns: repeat(2, 1fr);
}

.quick-menu.quick-menu--col-3 .quick-menu__inside {
	grid-template-columns: repeat(3, 1fr);
}

.quick-menu.quick-menu--col-4 .quick-menu__inside {
	grid-template-columns: repeat(4, 1fr);
}

.quick-menu.quick-menu--col-5 .quick-menu__inside {
	grid-template-columns: repeat(5, 1fr);
}

.quick-menu.quick-menu--col-6 .quick-menu__inside {
	grid-template-columns: repeat(6, 1fr);
}

.quick-menu.quick-menu--col-7 .quick-menu__inside {
	grid-template-columns: repeat(7, 1fr);
}

.quick-menu.quick-menu--col-8 .quick-menu__inside {
	grid-template-columns: repeat(8, 1fr);
}

.quick-menu.quick-menu--col-9 .quick-menu__inside {
	grid-template-columns: repeat(9, 1fr);
}

.quick-menu.quick-menu--col-10 .quick-menu__inside {
	grid-template-columns: repeat(10, 1fr);
}

/* quick-menu--col //end */


