@media screen and (min-width: 768px) {
	.quick-menu__inside {
		grid-template-columns: repeat(3, 1fr);
	}
	.quick-menu__text:hover {
		color: #f78f1e;
	}

	.quick-menu__image img {
		height: 40px;
		min-width: 35px;
	}
	.quick-menu__top {
		display: flex;
	}
	.quick-menu__text {
		display: block;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
	}

	/* quick-menu--v2 */
	.quick-menu.quick-menu--v2 .quick-menu__image img {
		height: 50px;
	}
	/* quick-menu--v2 //end */
}

@media screen and (min-width: 991px) {
	.quick-menu__inside {
		grid-template-columns: repeat(4, 1fr);
	}
	.quick-menu__item {
		flex-direction: row;
	}
	.quick-menu__text {
		padding-left: 20px;
		padding-top: 0;
		text-align: left;
	}

	/* quick-menu--v2 */
	.quick-menu.quick-menu--v2 .quick-menu__item {
		flex-direction: column;
	}

	.quick-menu.quick-menu--v2 .quick-menu__image img {
		height: 60px;
	}

	.quick-menu.quick-menu--v2 .quick-menu__text {
		padding-left: 0;
		padding-top: 10px;
	}
	/* quick-menu--v2 //end */
}