@media screen and (max-width: 1100px) {
	.main_nav__list {
		width: 70%;
	}
}

@media screen and (max-width: 991px) {
	.main_nav_sub-list-no-title {
		margin-top: 0;
	}
}

@media screen and (max-width: 991px) {
	.main_nav {
		position: fixed;
		top: 61px;
		bottom: 0;
		width: 50%;
		transform: translateX(-105%);
		transition: transform 0.25s;
		overflow-y: auto;
		background-color: #fff;
		-webkit-transform: translateX(-105%);
		-moz-transform: translateX(-105%);
		-ms-transform: translateX(-105%);
		-o-transform: translateX(-105%);
	}

	.main_nav.active {
		transform: translateX(0);
	}

	.main_nav.active .container-big {
		padding-left: 0;
		padding-right: 0;
	}

	.main_nav.active .header-search {
		position: static;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		border-radius: 0;
		transform: translateY(0);
		box-sizing: border-box;
		border-bottom: 1px solid #e1e1e1;
	}

	.main_nav__inner {
		flex-direction: column;
		align-items: flex-start;
	}

	.main_nav__list {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		order: 1;
	}

	.main_nav__form {
		width: 100%;
	}

	.main_nav__item {
		box-sizing: border-box;
		position: relative;
		padding: 15px;
		width: 100%;
		border-bottom: 1px solid #e1e1e1;
	}
}

@media screen and (max-width: 991px) {
	.main_nav__item {
		cursor: pointer;
	}

	.main_nav__item:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}

	.main_nav__item-sub::after {
		content: "\e903";
		font-family: icomoon;
		position: absolute;
		right: 15px;
		top: 45%;
		font-size: 12px;
		color: #999;
	}

	.main_nav__search-wrapp {
		position: relative;
	}

	.main_nav__search-wrapp::before {
		content: "";
		position: absolute;
		z-index: 5;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 15px;
		background: transparent url(/img/search/search.svg) center no-repeat;
		opacity: .5;
	}

	.main_nav__search {
		position: static;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		border-radius: 0;
		transform: translateY(0);
		box-sizing: border-box;
	}

	.main_nav__btn-search {
		display: none;
	}

	.main_nav__link:not(.main_nav__link-credit) {
		padding: 0;
		color: #0e1829;
	}

	.main_nav__new .main_nav__link:not(.main_nav__link-credit) {
		padding-right: 35px;
	}

	.main_nav__city {
		display: none;
	}

	.main_nav__sub {
		position: fixed;
		top: 0;
		bottom: 0;
		padding: 30px 40px;
		overflow-y: auto;
		opacity: 1;
		box-shadow: none;

		transform: translateX(-100%) translateY(0);
		pointer-events: auto;
	}

	.main_nav__sub.active {
		transform: translateX(0);
	}

	.main_nav__sub-inner {
		flex-direction: column;
	}

	.main_nav__sub-list {
		column-count: auto;
	}

	.main_nav__sub-cell {
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}

	.main_nav__right {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}

}

@media screen and (max-width: 991px) {
	.main_nav {
		margin-bottom: 0;
	}

	.main_nav .container {
		width: 100%;
		padding: 0;
	}

	.main_nav__item-sub:hover .main_nav__link {
		background-color: #fff;
		color: #0e1829 !important;
	}

	.main_nav__item-sub:hover .main_nav__link::before {
		opacity: 0;
	}

	.main_nav__right {
		position: static;
	}
	.main_nav__inner {
		position: relative;
	}
}

@media screen and (min-width: 991px) {
	.main_nav__link:hover {
		background-color: #3b6cbc;
		color: #fff !important;
	}

	.main_nav__item.active .main_nav__link {
		background-color: #3b6cbc;
		color: #fff !important;
	}
}

@media screen and (max-width: 767px) {
	.main_nav {
		width: 100%;
		top: 60px;
	}

	.main_nav__sub-inner {
		min-width: auto;
	}
}