@media screen and (min-width: 768px) {
	/* checkbox-switch--adaptive */
	.checkbox-switch.checkbox-switch--adaptive input + label {
		padding: 0 0 32px 52px;
	}

	.checkbox-switch.checkbox-switch--adaptive input + label:after {
		width: 28px;
		height: 28px;
		border-radius: 20px;
	}

	.checkbox-switch.checkbox-switch--adaptive input + label:before {
		width: 52px;
		height: 32px;
		border-radius: 20px;
	}

	.checkbox-switch.checkbox-switch--adaptive input:checked + label:after {
		left: 22px;
	}
	/* checkbox-switch--adaptive */
}