.checkbox-switch {
	display: inline-flex;
}

.checkbox-switch input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
	width: 5px;
	height: 5px;
}

.checkbox-switch input + label {
	position: relative;
	cursor: pointer;
	opacity: 1 !important;
}

.checkbox-switch input + label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #b4c6d2;
	transition: .2s;
}

.checkbox-switch input + label:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	background: #fff;
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 16px 16px rgba(0, 0, 0, 0.05), 0 32px 32px rgba(0, 0, 0, 0.05);
	transition: .2s;
}

.checkbox-switch input:checked + label:before {
	background: #f78f1e;
}

/* checkbox-switch--default */
.checkbox-switch.checkbox-switch--default input + label {
	padding: 0 0 32px 52px;
}

.checkbox-switch.checkbox-switch--default input + label:before {
	width: 52px;
	height: 32px;
	border-radius: 20px;
}

.checkbox-switch.checkbox-switch--default input + label:after {
	width: 28px;
	height: 28px;
	border-radius: 20px;
}

.checkbox-switch.checkbox-switch--default input:checked + label:after {
	left: 22px;
}

/* checkbox-switch--default //end */

/* checkbox-switch--small */
.checkbox-switch.checkbox-switch--small input + label {
	padding: 0 0 22px 36px;
}

.checkbox-switch.checkbox-switch--small input + label:after {
	width: 18px;
	height: 18px;
	border-radius: 10px;
}

.checkbox-switch.checkbox-switch--small input + label:before {
	width: 36px;
	height: 22px;
	border-radius: 16px;
}

.checkbox-switch.checkbox-switch--small input:checked + label:after {
	left: 16px;
}

/* checkbox-switch--small */

/* checkbox-switch--adaptive */
.checkbox-switch.checkbox-switch--adaptive input + label {
	padding: 0 0 22px 36px;
}

.checkbox-switch.checkbox-switch--adaptive input + label:after {
	width: 18px;
	height: 18px;
	border-radius: 10px;
}

.checkbox-switch.checkbox-switch--adaptive input + label:before {
	width: 36px;
	height: 22px;
	border-radius: 16px;
}

.checkbox-switch.checkbox-switch--adaptive input:checked + label:after {
	left: 16px;
}

/* checkbox-switch--adaptive */

/* checkbox-switch-container */
.checkbox-switch-container .checkbox-switch {
	margin-left: 5px;
	margin-top: 5px;
}

/* checkbox-switch-container //end */