.header {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__logo img {
	max-height: 37px;
	padding-left: 15px;
}

.header__logo-back-main_nav {
	display: none;
	position: relative;
	width: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	overflow: hidden;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: width 0.25s, padding 0.25s;
	-o-transition: width 0.25s, padding 0.25s;
	transition: width 0.25s, padding 0.25s;
}

.header__logo-back-main_nav::after {
	content: "\e905";
	font-family: icomoon;
	display: block;
	left: 2px;
	top: 40%;
	color: #14509c;
	font-size: 16px;
}


