.container-icon {
	position: relative;
	padding: 20px 15px 15px 55px;
	background: #f5fbfd;
	border-radius: 3px;
}

.container-icon p:last-child {
	margin-bottom: 0;
}

.container-icon__icon {
	position: absolute;
	top: 15px;
	left: 15px;
}

.container-icon__icon img {
	width: auto;
	height: 30px;
	min-width: 25px;
}
