.header-search__btn {
	padding: 0;
	border: none;
	background: transparent;
	width: 22px;
	height: 22px;
}

.header-search__icon {
	font-size: 20px;
	color: #fff;
}

.header-search__fixed {
	padding-top: 40px;
	padding-bottom: 40px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	background: #fff;
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
}

.header-search__fixed.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.header-search__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-search__form {
	width: 90%;
	position: relative;
}

.header-search__form > label {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	pointer-events: none;
	opacity: 0;
}

.header-search__input {
	width: 100%;
	padding: 10px 20px;
	background: #fff;
	border: 1px solid #b4c6d2;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.header-search__form::after {
	content: "\e901";
	font-family: "icomoon";
	display: inline-block;
	width: 22px;
	height: 22px;
	color: #b4c6d2;
	position: absolute;
	right: 16px;
	top: 7px;
	font-size: 20px;
}

.header-search__input::-webkit-input-placeholder {
	font-size: 16px;
	color: #9faab7;
}

.header-search__input::-moz-placeholder {
	font-size: 16px;
	color: #9faab7;
}

/* Firefox 19+ */
.header-search__input:-moz-placeholder {
	font-size: 16px;
	color: #9faab7;
}

/* Firefox 18- */
.header-search__input:-ms-input-placeholder {
	font-size: 16px;
	color: #9faab7;
}