@media screen and (max-width: 991px) {
	.header-search__fixed {
		-webkit-box-shadow: 0 16px 50px rgba(0, 0, 0, 0.1);
		box-shadow: 0 16px 50px rgba(0, 0, 0, 0.1);
	}

	.header-search {
		padding: 10px 0;
		width: 0;
		border-radius: 15px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 33px;
		background-color: #fff;
		border: none;
		border-bottom: 1px solid #fff;
		color: #14509c;
		-webkit-transition: width 0.25s, padding 0.25s, -webkit-box-shadow 0.25s;
		-o-transition: width 0.25s, padding 0.25s, box-shadow 0.25s;
		transition: width 0.25s, padding 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
	}

	.header-search__input {
		padding: 10px 20px;
	}

	.header-search__icon {
		color: #14509c;
	}

	.header-search__fixed.active .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-search__fixed {
		transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-o-transform: translateY(-200%);
	}

	.header-search__btn {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding-right: 15px;
	}
}