.footer {
	border-top: 1px solid #b4c6d2;
}

.footer__inside {
	padding-top: 25px;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: auto;
	grid-gap: 20px 30px;
}

.footer__logo {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.footer__logo a {
	font-size: 0;
}

.footer__logo-img {
	max-height: 37px;
}

.footer-nav {
	padding-left: 0;
	display: flex;
	align-items: center;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.footer-nav__item {
	list-style: none;
	margin-right: 20px;
}

.footer-nav__item:last-child {
	margin-right: 0;
}

.footer-nav__link {
	display: inline-block;
	padding: 0 5px;
	font-size: 16px;
}

.footer-sites__link {
	font-size: 16px;
}

.footer-sites {
	padding-left: 0;
	display: flex;
	align-items: center;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}

.footer-sites__item {
	list-style: none;
	margin-left: 20px;
}

.footer-sites__item:first-child {
	margin-left: 0;
}

.footer-sites__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-sites__image {
	margin-right: 10px;

}

.footer-sites__image img {
	width: 20px;
	height: auto;
}

.footer-sites__text {
	font-size: 16px;
}