@media screen and (max-width: 1200px) {
	.footer__inside {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.footer-sites {
		width: 100%;
		padding-top: 20px;
		justify-content: center;
	}

	.footer__logo {
		width: 50%;
	}

	.footer-nav {
		width: 50%;
	}

	.footer__logo-img {
		max-width: 200px;
	}
}
@media screen and (max-width: 991px) {


	.footer-sites__item {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {
	.footer__inside {
		display: flex;
		flex-direction: column;
	}
	.footer__logo,
	.footer-nav,
	.footer-sites {
		width: 100%;
		margin: 0;
		padding: 0 25px;
		box-sizing: border-box;
	}

	.footer__logo {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	.footer-sites {
		padding-top: 20px;
	}

	.footer-nav,
	.footer-sites {
		justify-content: center;
	}

	.footer-sites__text {
		display: none;
	}

	.footer .container--big {
		padding-left: 0;
		padding-right: 0;
	}

	.footer__inside {
		padding-top: 5px;
	}

	.footer__logo--border {
		border-bottom: 1px solid #b4c6d2;
	}

	.footer__inside {
		padding-bottom: 20px;
	}

	.footer-nav__item {
		margin-right: 10px;
	}

	.footer-nav__link {
		font-size: 14px;
	}
}