@media screen and (max-width: 1191px) {
	.conversion-main__inside--mob {
		top: 70%;
	}
}

@media screen and (max-width: 991px) {
	.page-top__title-left {
		padding: 10px 15px;
		width: 60%;
	}

	.page-top__title-right {
		padding-right: 0;
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.page-top__title-right {
		display: none;
	}

	.page-top__title-left {
		width: 100%;
		padding: 15px 0 0 0;
	}

	.page-top__text {
		font-size: 14px;
		line-height: 21px;
	}

	.page-top__wrapper {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.page-top__title-left p:last-child {
		margin-bottom: 0;
	}

	.page-top__title-inside {
		padding: 0;
	}
}