.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	-webkit-transition: background 0.25s, color 0.25s;
	-o-transition: background 0.25s, color 0.25s;
	transition: background 0.25s, color 0.25s;
	padding: 5px 30px;
	min-height: 40px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	outline: none;
	box-shadow: none;
	border-width: 1px;
	border-style: solid;
	font-family: roboto-regular, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.btn.btn--big {
	height: 50px;
}

.btn.btn--full {
	width: 100%;
}

.btn.btn--yellow {
	background: #f78f1e;
	border-color: #f78f1e;
}

.btn.btn--yellow:hover {
	color: #fff;
	background: #f9ab56;
	border-color: #f9ab56;
}

.btn.btn--blue {
	background: #14509C;
	border-color: #14509C;
}

.btn.btn--blue:hover {
	color: #fff;
	background: #2B69B7;
	border-color: #2B69B7;
}

.btn.btn--transparent-blue {
	color: #14509C;
	border-color: #14509C;
	background-color: transparent;
	border-width: 2px;
}

.btn.btn--transparent-blue:hover {
	color: #fff;
	background: #2B69B7;
	border-color: #2B69B7;
}

.btn.btn--square {
	padding: 5px;
	width: 50px;
	height: 40px;
}

