.bg-light-blue {
	background: #F5FBFD;
}
.bg-white {
	background-color: #fff;
}

.bg-blue {
	background-color: #D9F0FB;
}

.error {
	color: #F71E1E;
}

.success {
	color: #5BBB10;
}

.sublime {
	color: #6B737D;
}

