.bg-light-blue {
	background: #f5fbfd;
}

.bg-white {
	background-color: #fff;
}

.bg-blue {
	background-color: #d9f0fb;
}

.bg-light-gray {
	background-color: #ebebeb;
}

.bg-lavender {
	background-color: #ebf6fb;
}

.bg-green-blue {
	background-color: #14509c;
}

.green-blue {
	color: #14509c;
}

.error {
	color: #f71e1e;
}

.success {
	color: #5bbb10;
}

.text-sublime,
.sublime {
	color: #6b737d;
}

.dark-blue {
	color: #b4c6d2;
}

.lavender {
	color: #ebf6fb;
}
