.bg-light-blue {
	background: #f5fbfd;
}

.bg-white {
	background-color: #fff;
}

.bg-blue {
	background-color: #d9f0fb;
}

.bg-light-gray {
	background-color: #ebebeb;
}

.error {
	color: #f71e1e;
}

.success {
	color: #5bbb10;
}

.sublime {
	color: #6b737d;
}

