[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e902";
}
.icon-arrow-right:before {
	content: "\e903";
}
.icon-arrow-down:before {
	content: "\e915";
}
.icon-arrow-left:before {
	content: "\e905";
}
.icon-arrow-up-long:before {
	content: "\e916";
}
.icon-arrow-right-long:before {
	content: "\e904";
}
.icon-arrow-down-long:before {
	content: "\e917";
}
.icon-arrow-left-long:before {
	content: "\e918";
}
.icon-close:before {
	content: "\e919";
}
.icon-check:before {
	content: "\e91a";
}
.icon-arrow-up-in-circle:before {
	content: "\e91b";
}
.icon-clock-fill:before {
	content: "\e91c";
}
.icon-clock:before {
	content: "\e90a";
}
.icon-check-in-circle-2:before {
	content: "\e909";
}
.icon-check-in-circle:before {
	content: "\e908";
}
.icon-three-dots:before {
	content: "\e913";
}
.icon-globe:before {
	content: "\e91d";
}
.icon-location:before {
	content: "\e91e";
}
.icon-map:before {
	content: "\e91f";
}
.icon-warning-triangle:before {
	content: "\e920";
}
.icon-calc:before {
	content: "\e907";
}
.icon-messages:before {
	content: "\e90e";
}
.icon-services-in-circle:before {
	content: "\e921";
}
.icon-phone:before {
	content: "\e90f";
}
.icon-eye:before {
	content: "\e90b";
}
.icon-fill-star:before {
	content: "\e90c";
}
.icon-star:before {
	content: "\e90d";
}
.icon-vector:before {
	content: "\e922";
}
.icon-alendar:before {
	content: "\e914";
}
.icon-question-in-circle:before {
	content: "\e910";
}
.icon-sort-by-down:before {
	content: "\e911";
}
.icon-sort-by-up:before {
	content: "\e912";
}
.icon-list:before {
	content: "\e923";
}
.icon-search:before {
	content: "\e901";
}
.icon-facebook:before {
	content: "\e924";
}
.icon-google:before {
	content: "\e925";
}
.icon-instagram:before {
	content: "\e926";
}
.icon-mail:before {
	content: "\e927";
}

.icon-rss:before {
	content: "\e928";
}

.icon-telegram:before {
	content: "\e929";
}

.icon-twitter:before {
	content: "\e92a";
}

.icon-airplane:before {
	content: "\e92b";
}

.icon-chasback:before {
	content: "\e92c";
}

.icon-gift:before {
	content: "\e92d";
}

.icon-medal:before {
	content: "\e92e";
}

.icon-miles:before {
	content: "\e92f";
}

.icon-two-arrows:before {
	content: "\e906";
}

.icon-plus:before {
	content: "\e900";
}
