input {
	color: #263042;
	background: #fff;
	border: 1px solid #b4c6d2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	width: 100%;
	transition: box-shadow .25s, border-color .25s;
}

input:focus {
	outline: none;
	border-color: #3b6cbc;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus::-moz-placeholder {
	color: transparent
}

:focus:-moz-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input::-webkit-input-placeholder {
	font-size: 16px;
	color: #9faab7;
}

input::-moz-placeholder {
	font-size: 16px;
	color: #9faab7;
}

/* Firefox 19+ */
input:-moz-placeholder {
	font-size: 16px;
	color: #9faab7;
}

/* Firefox 18- */
input:-ms-input-placeholder {
	font-size: 16px;
	color: #9faab7;
}

label {
	display: flex;
}