a:focus, a:hover, a:active {
	color: #e86809;
	outline: none;
}

a {
	cursor: pointer;
	color: #14509c;
	background: transparent;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
}

.fake-link {
	cursor: pointer;
	color: #14509c;
	background: transparent;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
}

.fake-link.fake-link--inline-block {
	display: inline-block;
}

.fake-link:hover {
	color: #e86809;
}

.fake-link.fake-link--dashed {
	margin-bottom: 3px;
	border-bottom: 1px dashed #14509c;
	transition: color .3s, border-color 0.25s;
	-webkit-transition: color .3s, border-color 0.25s;
	-moz-transition: color .3s, border-color 0.25s;
	-o-transition: color .3s, border-color 0.25s;
}

.fake-link.fake-link--dashed:hover {
	border-color: #e86809;
}

a:focus, a:hover, a:active {
	color: #e86809;
	outline: none;
}

a {
	cursor: pointer;
	color: #14509c;
	background: transparent;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
}

.fake-link {
	cursor: pointer;
	color: #14509c;
	background: transparent;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
}

.fake-link.fake-link--inline-block {
	display: inline-block;
}

.fake-link:hover {
	color: #e86809;
}

.fake-link.fake-link--black:not(:hover) {
	color: #0e1829;
}

.fake-link.fake-link--black.fake-link--dashed:not(:hover) {
	border-bottom: 1px dashed #0e1829;
}

.fake-link.fake-link--custom-1 {
	color: #0e1829;
}

.fake-link.fake-link--custom-1:hover {
	color: #14509c;
}