.seo-article > * {
	margin: 15px 0 0 0
}

.seo-article > h2, .seo-article > h3, .seo-article > h4 {
	margin: 25px 0 0 0
}

.seo-article > *:first-child {
	margin-top: 0
}

.seo-article br {
	display: none
}

.seo-article img {
	max-width: 100%
}

.seo-article ul, .seo-article ol {
	font-size: 14px;
	line-height: 21px
}

.seo-article ul li, .seo-article ol li {
	margin-top: 10px
}

.seo-article ul li:first-child, .seo-article ol li:first-child {
	margin-top: 0
}


