/* table-article */
.table-article {
	min-width: 100%;
}

.table-article a {
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
}

.table-article thead th,
.table-article thead td {
	color: #6b737d;
	padding: 5px 15px;
	text-align: left;
	border-bottom: 1px solid #b4c6d2;
}

.table-article th,
.table-article td {
	min-width: 120px;
}

.table-article tbody tr:nth-child(even) {
	background-color: #f5fbfd;
}

.table-article tbody td {
	padding: 30px 15px;
}

/* table-article  //end */

/* container-table-article */
.container-table-article {
	position: relative;
	overflow-x: auto;
}

/* container-table-article //end */