/*TODO: нигде не юзается ассет не создавал.*/

.count-currensy {
	position: relative;
}

.count-currensy__list {
	padding: 0 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.count-currensy__item {
	list-style: none;
	padding: 10px 0 20px 0;
}

.count-currensy__link {
	font-size: 20px;
}

.count-currensy__link--display {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.count-currensy__hidden-menu-block {
	position: relative;
}

.count-currensy__hidden-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	min-width: 110px;
	padding: 5px;
	background: #fff;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	position: absolute;
	top: 45px;
	left: -20px;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-ms-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
}

.count-currensy__hidden-item {
	list-style: none;
}

.count-currensy__hidden-link {
	font-size: 20px;
	display: block;
	padding: 2.5px;
}

.count-currensy__hidden-menu-block:hover .count-currensy__hidden-menu {
	opacity: 1;
	pointer-events: auto;
}

.count-currensy__icon-absolute {
	display: none;
	position: absolute;
	top: 10px;
	color: #6b737d;
	font-size: 20px;
}

.count-currensy__icon--left {
	left: 5px;
}

.count-currensy__icon--right {
	right: 5px;
}

