/*TODO: нигде не юзается ассет не создавал.*/

@media screen and (max-width: 991px) {
	.count-currensy__list {
		padding: 0 15px;
	}
	.count-currensy__hidden-menu {
		left: unset;
		right: -10px;
	}
}

@media screen and (max-width: 768px) {
	.count-currensy {
		padding: 0 40px;
	}
	.count-currensy__list {
		overflow-x: auto;
		padding: 0;
	}
	.count-currensy__link {
		white-space: nowrap;
		font-size: 16px;
	}
	.count-currensy__item {
		padding: 10px 5px 20px 5px;
	}
	.count-currensy__icon-absolute {
		display: inline-block;
	}
	.count-currensy__hidden-menu {
		top: 35px;
		min-width: 90px;
	}
}