.online-conversion__inside {
	padding-top: 20px;
}

.online-conversion__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100px;
	border-bottom: 1px solid #ebebeb;
}

.online-conversion__title {
	width: calc(73% / 6);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.online-conversion__cell {
	font-size: 20px;
	width: calc(73% / 6);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.online-conversion__image {
	width: 50px;
	height: 35px;
}

.online-conversion__text-grey {
	padding-top: 10px;
	font-size: 18px;
	color: #6b737d;
}

.online-conversion__cell--first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-left: 100px;
}

.online-conversion__cell--first .online-conversion__text-grey {
	padding-top: 0;
	padding-left: 20px;
}

.online-conversion__text-blue {
	font-size: 20px;
}

.online-conversion__row--bgr-blue {
	background: rgba(235, 246, 251, 0.5);
}

.online-conversion__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
}

.online-conversion__info-text {
	font-size: 14px;
	color: #6b737d;
	padding-bottom: 15px;
}

.online-conversion__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.online-conversion__icon {
	margin-top: 2px;
}

.online-conversion__info-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
}

.online-conversion__selectric {
	font-size: 16px;
	display: none;
	width: 250px;
}

.online-conversion__select {
	display: none;
}

.online-conversion__select .select-currency-item__text-top {
	color: #6b737d;
}

.online-conversion__select .select-currency-item__text-bottom {
	display: none;
}