.pagination {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.pagination > li {
	display: inline-flex;
	min-width: 30px;
	flex-grow: 2;
	height: 48px;
	border: 1px solid #b4c6d2;
	border-right: none;
	font-size: 16px;
	transition: background-color .25s;
}

.pagination > li:not(.disabled):hover {
	background-color: #d9f0fb;
}

.pagination > li:first-child {
	border-radius: 2px 0 0 2px;
}

.pagination > li:last-child {
	border-radius: 0 2px 2px 0;
	border-right: 1px solid #b4c6d2;
}

.pagination > li.active {
	background-color: #d9f0fb;
}

.pagination > li > * {
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.pagination > li.prev .glyphicon-menu-left:before {
	content: "\e905";
	font-family: icomoon;
	font-size: 0.8em;
}

.pagination > li.next .glyphicon-menu-right:before {
	content: "\e903";
	font-family: icomoon;
	font-size: 0.8em;
}

.pagination > li.disabled .glyphicon-menu-left,
.pagination > li.disabled .glyphicon-menu-right {
	color: #b4c6d2;
	pointer-events: none;
}

/* pagination-container */
.pagination-container {
	display: grid;

}

.pagination-container.pagination-container--two-items {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 15px 0;
}

/* pagination-container end */