@media screen and (min-width: 768px) {
	.pagination-container.pagination-container--two-items {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 15px;
	}
	.pagination > li {
		min-width: 49px;
		max-width: 49px;
	}
}