@media screen and (min-width: 768px) {
	.related-content__title {
		margin-bottom: 20px;
	}

	.related-content__list ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 15px;
	}

	.related-content__list li {
		font-size: 16px;
		margin: 0;
	}
}

@media screen and (min-width: 992px) {
	.related-content__list ul {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}