@media screen and (min-width: 768px) {
	.other-links__wrapper {
		display: grid;
		grid-gap: 20px;
	}

	.other-links__col {
		padding: 0;
		border: none;
	}

	.other-links__col:last-child {
		border-bottom: none;
	}

	.other-links__list {
		display: block;
	}

	.other-links__title {
		pointer-events: none;
		padding-top: 0;
	}

	.other-links__title:after {
		display: none;
	}

	.other-links__btn {
		display: inline-flex;
		cursor: pointer;
		font-size: 20px;
		color: #b4c6d2;
		transition: filter .25s;
		padding-top: 5px;
	}

	.other-links__btn [class^="icon-"] {
		font-size: 20px;
		line-height: 1;
	}

	.other-links__btn:hover {
		filter: brightness(1.1);
	}

	.other-links__btn:active {
		filter: brightness(0.9);
	}

	.other-links.other-links--col-tablet-small-1 .other-links__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.other-links.other-links--col-tablet-small-2 .other-links__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.other-links.other-links--col-tablet-small-3 .other-links__wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.other-links.other-links--col-tablet-small-4 .other-links__wrapper {
		grid-template-columns: repeat(4, 1fr);
	}

	.other-links.other-links--col-tablet-small-5 .other-links__wrapper {
		grid-template-columns: repeat(5, 1fr);
	}

	.other-links.other-links--col-tablet-small-6 .other-links__wrapper {
		grid-template-columns: repeat(6, 1fr);
	}

	.other-links.other-links--col-tablet-small-7 .other-links__wrapper {
		grid-template-columns: repeat(7, 1fr);
	}

	.other-links.other-links--col-tablet-small-8 .other-links__wrapper {
		grid-template-columns: repeat(8, 1fr);
	}

	.other-links.other-links--col-tablet-small-9 .other-links__wrapper {
		grid-template-columns: repeat(9, 1fr);
	}

	.other-links.other-links--col-tablet-small-10 .other-links__wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
}

@media screen and (min-width: 991px) {
	.other-links.other-links--col-tablet-medium-1 .other-links__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.other-links.other-links--col-tablet-medium-2 .other-links__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.other-links.other-links--col-tablet-medium-3 .other-links__wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.other-links.other-links--col-tablet-medium-4 .other-links__wrapper {
		grid-template-columns: repeat(4, 1fr);
	}

	.other-links.other-links--col-tablet-medium-5 .other-links__wrapper {
		grid-template-columns: repeat(5, 1fr);
	}

	.other-links.other-links--col-tablet-medium-6 .other-links__wrapper {
		grid-template-columns: repeat(6, 1fr);
	}

	.other-links.other-links--col-tablet-medium-7 .other-links__wrapper {
		grid-template-columns: repeat(7, 1fr);
	}

	.other-links.other-links--col-tablet-medium-8 .other-links__wrapper {
		grid-template-columns: repeat(8, 1fr);
	}

	.other-links.other-links--col-tablet-medium-9 .other-links__wrapper {
		grid-template-columns: repeat(9, 1fr);
	}

	.other-links.other-links--col-tablet-medium-10 .other-links__wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.other-links.other-links--col-tablet-large-1 .other-links__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.other-links.other-links--col-tablet-large-2 .other-links__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.other-links.other-links--col-tablet-large-3 .other-links__wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.other-links.other-links--col-tablet-large-4 .other-links__wrapper {
		grid-template-columns: repeat(4, 1fr);
	}

	.other-links.other-links--col-tablet-large-5 .other-links__wrapper {
		grid-template-columns: repeat(5, 1fr);
	}

	.other-links.other-links--col-tablet-large-6 .other-links__wrapper {
		grid-template-columns: repeat(6, 1fr);
	}

	.other-links.other-links--col-tablet-large-7 .other-links__wrapper {
		grid-template-columns: repeat(7, 1fr);
	}

	.other-links.other-links--col-tablet-large-8 .other-links__wrapper {
		grid-template-columns: repeat(8, 1fr);
	}

	.other-links.other-links--col-tablet-large-9 .other-links__wrapper {
		grid-template-columns: repeat(9, 1fr);
	}

	.other-links.other-links--col-tablet-large-10 .other-links__wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
}