/* .other-links--title-big */
.other-links.other-links--title-big .other-links__title {
	font-family: roboto-bold;
}

/* .other-links--title-big //end */

.other-links__col {
	border-top: 1px solid #b4c6d2;
	padding: 0 0 15px 0;
}

.other-links__col:last-child {
	border-bottom: 1px solid #b4c6d2;
}

.other-links__title {
	font-size: 18px;
	padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.other-links__title:after {
	content: "\e900";
	font-family: icomoon;
	color: #b4c6d2;
	transition: filter .25s, transform .25s;
	font-size: 0.9em;
}

.other-links__title:hover:after {
	filter: brightness(1.1);
}

.other-links__title:active:after {
	filter: brightness(0.9);
}

.other-links__title.toggled:after {
	transform: rotate(45deg);
}

.other-links__list {
	display: none;
}

.other-links__list {
	margin: 15px 0 0 0;
	padding: 0;
	list-style-type: none;
}

.other-links__list li {
	font-size: 14px;
	margin-bottom: 15px;
}

.other-links__list li:last-child {
	margin-bottom: 0;
}

.other-links__list.other-links__list--hidden {
	display: none;
}

.other-links__btn {
	display: none;
}