.wrapper-white {
	margin-top: -130px;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
}

.wrapper-white__inside {
	background: #fff;
	-webkit-box-shadow: 0 16px 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 16px 50px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 30px 100px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.wrapper-white__inside {
		padding: 25px 10px;
	}
	.wrapper-white .container {
		padding-left: 0;
		padding-right: 0;
	}
	.wrapper-white {
		margin-top: 0;
		margin-bottom: 15px;
	}
}