.publication-signature {
	display: flex;
	font-size: 14px;
}

/* publication-signature--adaptive */
.publication-signature.publication-signature--adaptive {
	flex-direction: column;
}

.publication-signature.publication-signature--adaptive .publication-signature__date {
	margin-top: 5px;
}

/* publication-signature--adaptive //end */

/* publication-signature--row */
.publication-signature.publication-signature--row {
	align-items: center;
}

.publication-signature.publication-signature--row > * {
	padding-right: 15px;
	border-right: 1px solid #6b737d;
	margin-right: 15px;
}

.publication-signature.publication-signature--row > *:last-child {
	padding-right: 0;
	margin-right: 0;
	border-right: none;
}

/* publication-signature--row //end */

/* publication-signature--col */
.publication-signature.publication-signature--col {
	flex-direction: column;
}

.publication-signature.publication-signature--col .publication-signature__date {
	margin-top: 5px;
}

/* publication-signature--col //end */