
.article-content > * {
	box-sizing: border-box;
}

.article-content {
	border: 1px solid #ebebeb;

	border-radius: 3px;
	background: #fff;
}

.article-content__title {
	padding: 15px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.article-content__list {
	padding: 15px;
	border-top: 1px solid #ebebeb;
}

.article-content__list ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.article-content__list li {
	margin-top: 10px;
	font-size: 14px;
	padding-left: 15px;
	position: relative;
}

.article-content__list li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #b4c6d2;
	display: inline-flex;
}

.article-content__list li:first-child {
	margin-top: 0;
}

/* article-content--hiding */
.article-content.article-content--hiding .article-content__title:after {
	content: "\e902";
	font-family: icomoon;
	color: #b4c6d2;
	transform: rotate(180deg);
	transition: transform .25s;
}

.article-content.article-content--hiding.toggled .article-content__title:after {
	transform: rotate(0deg);
}

/* article-content--hiding //end */