.accordeon-custom__title {
	margin-bottom: 20px;
	font-size: 20px;
}

.accordeon-custom__title h1,
.accordeon-custom__title h2,
.accordeon-custom__title h3,
.accordeon-custom__title h4 {
	margin-bottom: 0;
	font-size: inherit;
}

.accordeon-custom__items {
	padding: 0;
	list-style-type: none;
}

.accordeon-custom__item {
	position: relative;
	padding: 20px 0;
}

.accordeon-custom__item:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
}

.accordeon-custom__item:last-child:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
}

.accordeon-custom__item-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-family: roboto-regular;
	cursor: pointer;
	position: static;
}

.accordeon-custom__item-title:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.accordeon-custom__item-title:after {
	content: "\e900";
	font-family: icomoon;
	pointer-events: none;
	color: #b4c6d2;
	line-height: 20px;
	font-size: 20px;
	transition: transform .25s;
	margin-left: 15px;
}

.accordeon-custom__item-title h1,
.accordeon-custom__item-title h2,
.accordeon-custom__item-title h3,
.accordeon-custom__item-title h4 {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
}

.accordeon-custom__item.visible .accordeon-custom__item-title {
	color: #6b737d;
}

.accordeon-custom__item.visible .accordeon-custom__item-title:after {
	transform: rotate(45deg);
}

.accordeon-custom__item-text {
	padding-top: 20px;
	display: none;
	position: relative;
	z-index: 2;
	font-size: 14px;
	line-height: 24px;
}

.accordeon-custom__item-title span:last-child,
.accordeon-custom__item-title p:last-child,
.accordeon-custom__item-text span:last-child,
.accordeon-custom__item-text p:last-child {
	margin: 0;
	font-size: inherit;
}

.accordeon-custom__item-text em,
.accordeon-custom__item-text a,
.accordeon-custom__item-text p,
.accordeon-custom__item-text strong,
.accordeon-custom__item-text i,
.accordeon-custom__item-text b,
.accordeon-custom__item-title em,
.accordeon-custom__item-title p,
.accordeon-custom__item-title strong,
.accordeon-custom__item-title i,
.accordeon-custom__item-title b {
	font: inherit;
}


