.flexable-content-wrapper {
	display: flex;
	flex-direction: column;
}

.flexable-content-wrapper__item {
	margin-top: 15px;
}

.flexable-content-wrapper__item:first-child {
	margin-top: 0;
}

.flexable-content-wrapper__item h1,
.flexable-content-wrapper__item h2,
.flexable-content-wrapper__item h3,
.flexable-content-wrapper__item h4 {
	margin: 0;
	padding: 0;
}