@media screen and (min-width: 768px) {
	.tabs__nav {
		margin-bottom: 20px;
	}
	.tabs__nav-btn {
		font-size: 16px;
		padding-bottom: 10px;
	}
}

@media screen and (min-width: 991px) {
	/* tabs--with-additional-content*/
	.tabs.tabs--with-additional-content {
		display: grid;
		grid-template-columns: 1fr fit-content(100%);
		grid-template-areas: "navs additional-content" "content content";
		grid-column-gap: 0;
	}

	.tabs.tabs--with-additional-content .tabs__nav {
		grid-area: navs;
	}

	.tabs.tabs--with-additional-content .tabs__content {
		grid-area: content;
	}

	.tabs.tabs--with-additional-content .tabs__additional-content {
		grid-area: additional-content;
		border-bottom: 1px solid #b4c6d2;
		text-align: right;
		margin-top: 0;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-bottom: 10px;
		align-self: flex-end;
	}

	/* tabs--with-additional-content //end */
}