/* .tabs__nav  */
.tabs__nav {
	position: relative;
	overflow-x: auto;
	margin-bottom: 15px;
}

/* tabs__nav--bg-gray */
.tabs__nav.tabs__nav--bg-gray {
	background: #f4f4f4;
}

/* tabs__nav--bg-gray //end */

/* tabs__nav--bold  */
.tabs__nav.tabs__nav--bold .tabs__nav-btn {
	font-weight: 700;
	transition: color 0.3s ease;
}

/* tabs__nav--bold //end */


/* tabs__nav--large */
.tabs__nav.tabs__nav--large .tabs__nav-btn {
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 16px;
}
/* tabs__nav--large //end */

/* tabs__nav--medium */
.tabs__nav.tabs__nav--medium .tabs__nav-btn {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* tabs__nav--medium //end */

/* tabs__nav--no-margine */
.tabs__nav.tabs__nav--no-margine {
	margin: 0;
}

/* tabs__nav--no-margine //end */

/* .tabs__nav //end */

.tabs__nav-list {
	display: flex;
	padding: 0;
	margin: 0;
}

.tabs__nav-item {
	margin-right: 20px;
	display: flex;
	flex-shrink: 0;
}

.tabs__nav-item:last-child {
	margin-right: 0;
}

.tabs__nav-btn {
	font-size: 14px;
	position: relative;
	cursor: pointer;
	padding-bottom: 5px;
}

.tabs__nav-btn:before {
	content: "";
	width: 0;
	height: 3px;
	border-radius: 3px;
	transition: width .4s;
	position: absolute;
	left: 0;
	bottom: 0;
}

.tabs__nav-item.active .tabs__nav-btn:before {
	width: 100%;
	background-color: #f78f1e;
}

/* tabs--nav-white */
.tabs.tabs--nav-white .tabs__nav-btn {
	color: #fff;
}

.tabs.tabs--nav-white .tabs__nav-item.active .tabs__nav-btn {
	font-weight: 700;
}

.tabs.tabs--nav-white .tabs__nav-item.active .tabs__nav-btn:before {
	background-color: #00bee7;
}

/* tabs--nav-white //end */

.tabs__container {
	display: none;
}

.tabs__container.active {
	display: block;
}
