/*TODO: Такой себе компонент. Лучше бы от него отказаться. Либо переделать*/

.minimal-tabs-block {
	padding: 0 100px;
}

.minimal-tabs-block {
	position: relative;
}

.minimal-tabs {
	padding-left: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	opacity: 0;
}

.minimal-tabs.minimal-tabs--text-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.minimal-tabs__item {
	white-space: nowrap;
	display: inline-block;
	padding-right: 45px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.minimal-tabs__item.minimal-tabs__item--small-padding {
	padding-right: 15px;
}

.minimal-tabs__item.active .minimal-tabs__btn {
	color: #f78f1e;
}

.minimal-tabs__item:last-child {
	margin-right: 0;
	padding-right: 0;
}

.minimal-tabs__btn {
	display: inline-block;
	width: 100%;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	padding: 15px 0;
	border: none;
	background-color: transparent;
	color: #14509c;
	outline: none;
	font-size: 20px;
}

.minimal-tabs__btn:focus,
.minimal-tabs__btn:hover {
	color: #e86809;
}

span.minimal-tabs__btn {
	display: inline-block;
}

.minimal-tabs__item--more {
	position: relative;
	cursor: pointer;
}

.minimal-tabs__item--more > .minimal-tabs__btn:after {
	-webkit-transition: -webkit-transform .25s ease;
	transition: -webkit-transform .25s ease;
	-o-transition: transform .25s ease;
	transition: transform .25s ease, -webkit-transform .25s ease;
	content: "\e915";
	font-family: "icomoon";
	margin-left: 5px;
	font-size: 0.7em;
	display: inline-block;
}

.minimal-tabs__hidden-list {
	-webkit-transition: opacity .25s ease, -webkit-transform .25s ease;
	-o-transition: transform .25s ease, opacity .25s ease;
	transition: transform .25s ease, opacity .25s ease, -webkit-transform .25s ease;
	position: absolute;
	right: -26px;
	top: 100%;
	padding: 10px;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	max-height: 300px;
	overflow-y: auto;
	background: #fff;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 107, 181, 0.3), -2px -2px 5px rgba(0, 107, 181, 0.3);
}

.minimal-tabs__hidden-list .list-reset {
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.minimal-tabs__hidden-list .list-reset .minimal-tabs__item {
	font-size: 16px;
	min-width: auto;
}

.minimal-tabs__hidden-list.opened {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.minimal-tabs__item--more.opened > .minimal-tabs__btn:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.minimal-tabs__hidden-list .minimal-tabs__item {
	margin-right: 0;
}

.minimal-tabs__hidden-list .minimal-tabs__btn {
	padding: 2.5px 0;
	font-size: 16px;
}

.minimal-tabs__hidden-list .minimal-tabs__item.active .minimal-tabs__btn {
	border: none;
}

.minimal-tabs-block__absolute {
	display: none;
	position: absolute;
	top: 10px;
	color: #6b737d;
	font-size: 20px;
}

.minimal-tabs-block__icon--left {
	left: 5px;
}

.minimal-tabs-block__icon--right {
	right: 5px;
}