@media screen and (min-width: 768px) {
	.author-card {
		display: grid;
		grid-template-areas: "title title" "img description " "additional-info additional-info" "contacts contacts";
		grid-row-gap: 10px;
		grid-column-gap: 10px;
		grid-template-columns: fit-content(100%) fit-content(100%);
	}

	.author-card__shape,
	.author-card__img {
		width: 140px;
		height: 140px;
	}

	.author-card__description {
		margin-left: -150px;
		margin-top: 0;
	}
}