.aed-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -0px;
}

.afn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -22px;
}

.all-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -44px;
}

.amd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -66px;
}

.ang-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -88px;
}

.ars-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -110px;
}

.aud-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -132px;
}

.awg-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -154px;
}

.azn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -176px;
}

.bam-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -198px;
}

.bbd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -220px;
}

.bdt-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -242px;
}

.bgn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -264px;
}

.bhd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -286px;
}

.bif-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -308px;
}

.bmd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -330px;
}

.bnd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -352px;
}

.bob-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -374px;
}

.brl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -396px;
}

.bsd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -418px;
}

.btn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -440px;
}

.bwp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -462px;
}

.byn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -484px;
}

.bzd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -506px;
}

.cad-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -528px;
}

.cdf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -550px;
}

.chf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -572px;
}

.clp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -594px;
}

.cny-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -616px;
}

.cop-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -638px;
}

.crc-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -660px;
}

.cuc-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -682px;
}

.cup-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -682px;
}

.cve-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -704px;
}

.czk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -726px;
}

.djf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -748px;
}

.dkk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -770px;
}

.dop-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -792px;
}

.dzd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -814px;
}

.egp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -836px;
}

.ern-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -858px;
}

.etb-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -880px;
}

.eur-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -902px;
}

.fjd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -924px;
}

.fkp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -946px;
}

.gbp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -968px;
}

.gel-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -990px;
}

.ggp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1012px;
}

.ghs-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1034px;
}

.gip-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1056px;
}

.gmd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1078px;
}

.gnf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1100px;
}

.gtq-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1122px;
}

.gyd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1144px;
}

.hkd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1166px;
}

.hnl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1188px;
}

.hrk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1210px;
}

.htg-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1232px;
}

.huf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1254px;
}

.idr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1276px;
}

.ils-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1298px;
}

.imp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1320px;
}

.inr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1342px;
}

.iqd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1364px;
}

.irr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1386px;
}

.isk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1408px;
}

.jep-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1430px;
}

.jmd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1452px;
}

.jod-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1474px;
}

.jpy-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1496px;
}

.kes-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1518px;
}

.kgs-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1540px;
}

.khr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1562px;
}

.kmf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1584px;
}

.kpw-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1606px;
}

.krw-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1628px;
}

.kwd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1650px;
}

.kyd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1672px;
}

.kzt-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1694px;
}

.lak-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1716px;
}

.lbp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1738px;
}

.lkr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1760px;
}

.lrd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1782px;
}

.lsl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1804px;
}

.ltl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1826px;
}

.lvl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1848px;
}

.lyd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1870px;
}

.mad-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1892px;
}

.mdl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1914px;
}

.mga-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1936px;
}

.mkd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1958px;
}

.mmk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -1980px;
}

.mnt-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2002px;
}

.mop-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2024px;
}

.mro-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2046px;
}

.mur-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2068px;
}

.mvr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2090px;
}

.mwk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2112px;
}

.mxn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2134px;
}

.myr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2156px;
}

.mzn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2178px;
}

.nad-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2200px;
}

.ngn-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2222px;
}

.nio-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2244px;
}

.nok-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2266px;
}

.npr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2288px;
}

.nzd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2310px;
}

.omr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2332px;
}

.pab-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2354px;
}

.pen-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2376px;
}

.pgk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2398px;
}

.php-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2420px;
}

.pkr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2442px;
}

.pln-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2464px;
}

.pyg-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2486px;
}

.qar-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2508px;
}

.ron-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2530px;
}

.rsd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2552px;
}

.rub-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2574px;
}

.rwf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2596px;
}

.sar-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2618px;
}

.sbd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2640px;
}

.scr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2662px;
}

.sdg-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2684px;
}

.sek-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2706px;
}

.sgd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2728px;
}

.shp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2750px;
}

.sll-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2772px;
}

.sos-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2794px;
}

.srd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2816px;
}

.std-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2838px;
}

.svc-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2860px;
}

.syp-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2882px;
}

.szl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2904px;
}

.thb-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2926px;
}

.tjs-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2948px;
}

.tmt-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2970px;
}

.tnd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -2992px;
}

.top-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3014px;
}

.try-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3036px;
}

.ttd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3058px;
}

.twd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3080px;
}

.tzs-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3102px;
}

.uah-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3124px;
}

.ugx-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3146px;
}

.usd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3168px;
}

.uyu-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3190px;
}

.uzs-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3212px;
}

.vef-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3234px;
}

.vnd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3256px;
}

.vuv-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3278px;
}

.wst-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3300px;
}

.yer-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3322px;
}

.zar-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3344px;
}

.zmw-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3366px;
}

.zwl-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3388px;
}

/*Логотип MyfinGroup*/
.mfg-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.aoa-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3432px;
}

/*Прописаны руками*/
.xaf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.xcd-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.xdr-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.xof-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.xpf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.zmk-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}

.clf-32 {
	background: url(../../img/sprites/flags_sprite32x22.png) no-repeat left -3410px;
}