.aed-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -0px;
}

.afn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -35px;
}

.all-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -70px;
}

.amd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -105px;
}

.ang-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -140px;
}

.ars-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -175px;
}

.aud-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -210px;
}

.awg-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -245px;
}

.azn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -280px;
}

.bam-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -315px;
}

.bbd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -350px;
}

.bdt-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -385px;
}

.bgn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -420px;
}

.bhd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -455px;
}

.bif-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -490px;
}

.bmd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -525px;
}

.bnd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -560px;
}

.bob-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -595px;
}

.brl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -630px;
}

.bsd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -665px;
}

.btn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -700px;
}

.bwp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -735px;
}

.byn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -770px;
}

.bzd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -805px;
}

.cad-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -840px;
}

.cdf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -875px;
}

.chf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -910px;
}

.clp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -945px;
}

.cny-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -980px;
}

.cop-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1015px;
}

.crc-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1050px;
}

.cuc-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1085px;
}

.cve-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1120px;
}

.czk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1155px;
}

.djf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1190px;
}

.dkk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1225px;
}

.dop-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1260px;
}

.dzd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1295px;
}

.egp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1330px;
}

.ern-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1365px;
}

.etb-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1400px;
}

.eur-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1435px;
}

.fjd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1470px;
}

.fkp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1505px;
}

.gbp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1540px;
}

.gel-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1575px;
}

.ggp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1610px;
}

.ghs-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1645px;
}

.gip-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1680px;
}

.gmd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1715px;
}

.gnf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1750px;
}

.gtq-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1785px;
}

.gyd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1820px;
}

.hkd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1855px;
}

.hnl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1890px;
}

.hrk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1925px;
}

.htg-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1960px;
}

.huf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -1995px;
}

.idr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2030px;
}

.ils-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2065px;
}

.imp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2100px;
}

.inr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2135px;
}

.iqd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2170px;
}

.irr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2205px;
}

.isk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2240px;
}

.jep-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2275px;
}

.jmd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2310px;
}

.jod-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2345px;
}

.jpy-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2380px;
}

.kes-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2415px;
}

.kgs-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2450px;
}

.khr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2485px;
}

.kmf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2520px;
}

.kpw-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2555px;
}

.krw-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2590px;
}

.kwd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2625px;
}

.kyd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2660px;
}

.kzt-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2695px;
}

.lak-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2730px;
}

.lbp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2765px;
}

.lkr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2800px;
}

.lrd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2835px;
}

.lsl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2870px;
}

.ltl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2905px;
}

.lvl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2940px;
}

.lyd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -2975px;
}

.mad-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3010px;
}

.mdl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3045px;
}

.mga-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3080px;
}

.mkd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3115px;
}

.mmk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3150px;
}

.mnt-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3185px;
}

.mop-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3220px;
}

.mro-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3255px;
}

.mur-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3290px;
}

.mvr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3325px;
}

.mwk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3360px;
}

.mxn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3395px;
}

.myr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3430px;
}

.mzn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3465px;
}

.nad-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3500px;
}

.ngn-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3535px;
}

.nio-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3570px;
}

.nok-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3605px;
}

.npr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3640px;
}

.nzd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3675px;
}

.omr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3710px;
}

.pab-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3745px;
}

.pen-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3780px;
}

.pgk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3815px;
}

.php-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3850px;
}

.pkr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3885px;
}

.pln-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3920px;
}

.pyg-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3955px;
}

.qar-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -3990px;
}

.ron-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4025px;
}

.rsd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4060px;
}

.rub-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4095px;
}

.rwf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4130px;
}

.sar-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4165px;
}

.sbd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4200px;
}

.scr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4235px;
}

.sdg-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4270px;
}

.sek-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4305px;
}

.sgd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4340px;
}

.shp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4375px;
}

.sll-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4410px;
}

.sos-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4445px;
}

.srd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4480px;
}

.std-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4515px;
}

.svc-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4550px;
}

.syp-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4585px;
}

.szl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4620px;
}

.thb-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4655px;
}

.tjs-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4690px;
}

.tmt-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4725px;
}

.tnd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4760px;
}

.top-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4795px;
}

.try-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4830px;
}

.ttd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4865px;
}

.twd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4900px;
}

.tzs-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4935px;
}

.uah-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -4970px;
}

.ugx-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5005px;
}

.usd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5040px;
}

.uyu-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5075px;
}

.uzs-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5110px;
}

.vef-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5145px;
}

.vnd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5180px;
}

.vuv-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5215px;
}

.wst-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5250px;
}

.yer-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5285px;
}

.zar-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5320px;
}

.zmw-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5355px;
}

.zwl-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5390px;
}

/*Логотип MyfinGroup*/
.mfg-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.aoa-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5460px;
}

/*Прописаны руками*/
.xaf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.xcd-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.xdr-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.xof-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.clf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5425px;
}

.xpf-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5460px;
}

.zmk-50 {
	background: url(../../img/sprites/flags_sprite50x35.png) no-repeat left -5460px;
}