.aed-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -0px;
}

.afn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -14px;
}

.all-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -28px;
}

.amd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -42px;
}

.ang-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -56px;
}

.ars-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -70px;
}

.aud-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -84px;
}

.awg-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -98px;
}

.azn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -112px;
}

.bam-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -126px;
}

.bbd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -140px;
}

.bdt-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -154px;
}

.bgn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -168px;
}

.bhd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -182px;
}

.bif-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -196px;
}

.bmd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -210px;
}

.bnd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -224px;
}

.bob-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -238px;
}

.brl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -252px;
}

.bsd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -266px;
}

.btn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -280px;
}

.bwp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -294px;
}

.byn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -308px;
}

.bzd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -322px;
}

.cad-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -336px;
}

.cdf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -350px;
}

.chf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -364px;
}

.clp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -378px;
}

.cny-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -392px;
}

.cop-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -406px;
}

.crc-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -420px;
}

.cuc-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -434px;
}

.cup-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -434px;
}

.cve-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -448px;
}

.czk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -462px;
}

.djf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -476px;
}

.dkk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -490px;
}

.dop-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -504px;
}

.dzd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -518px;
}

.egp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -532px;
}

.ern-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -546px;
}

.etb-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -560px;
}

.eur-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -574px;
}

.fjd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -588px;
}

.fkp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -602px;
}

.gbp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -616px;
}

.gel-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -630px;
}

.ggp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -644px;
}

.ghs-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -658px;
}

.gip-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -672px;
}

.gmd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -686px;
}

.gnf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -700px;
}

.gtq-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -714px;
}

.gyd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -728px;
}

.hkd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -742px;
}

.hnl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -756px;
}

.hrk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -770px;
}

.htg-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -784px;
}

.huf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -798px;
}

.idr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -812px;
}

.ils-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -826px;
}

.imp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -840px;
}

.inr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -854px;
}

.iqd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -868px;
}

.irr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -882px;
}

.isk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -896px;
}

.jep-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -910px;
}

.jmd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -924px;
}

.jod-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -938px;
}

.jpy-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -952px;
}

.kes-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -966px;
}

.kgs-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -980px;
}

.khr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -994px;
}

.kmf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1008px;
}

.kpw-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1022px;
}

.krw-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1036px;
}

.kwd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1050px;
}

.kyd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1064px;
}

.kzt-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1078px;
}

.lak-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1092px;
}

.lbp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1106px;
}

.lkr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1120px;
}

.lrd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1134px;
}

.lsl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1148px;
}

.ltl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1162px;
}

.lvl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1176px;
}

.lyd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1190px;
}

.mad-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1204px;
}

.mdl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1218px;
}

.mga-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1232px;
}

.mkd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1246px;
}

.mmk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1260px;
}

.mnt-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1274px;
}

.mop-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1288px;
}

.mro-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1302px;
}

.mur-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1316px;
}

.mvr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1330px;
}

.mwk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1344px;
}

.mxn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1358px;
}

.myr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1372px;
}

.mzn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1386px;
}

.nad-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1400px;
}

.ngn-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1414px;
}

.nio-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1428px;
}

.nok-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1442px;
}

.npr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1456px;
}

.nzd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1470px;
}

.omr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1484px;
}

.pab-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1498px;
}

.pen-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1512px;
}

.pgk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1526px;
}

.php-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1540px;
}

.pkr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1554px;
}

.pln-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1568px;
}

.pyg-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1582px;
}

.qar-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1596px;
}

.ron-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1610px;
}

.rsd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1624px;
}

.rub-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1638px;
}

.rwf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1652px;
}

.sar-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1666px;
}

.sbd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1680px;
}

.scr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1694px;
}

.sdg-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1708px;
}

.sek-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1722px;
}

.sgd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1736px;
}

.shp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1750px;
}

.sll-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1764px;
}

.sos-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1778px;
}

.srd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1792px;
}

.std-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1806px;
}

.svc-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1820px;
}

.syp-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1834px;
}

.szl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1848px;
}

.thb-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1862px;
}

.tjs-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1876px;
}

.tmt-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1890px;
}

.tnd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1904px;
}

.top-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1918px;
}

.try-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1932px;
}

.ttd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1946px;
}

.twd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1960px;
}

.tzs-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1974px;
}

.uah-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -1988px;
}

.ugx-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2002px;
}

.usd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2016px;
}

.uyu-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2030px;
}

.uzs-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2044px;
}

.vef-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2058px;
}

.vnd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2072px;
}

.vuv-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2086px;
}

.wst-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2100px;
}

.yer-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2114px;
}

.zar-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2128px;
}

.zmw-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2142px;
}

.zwl-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2156px;
}

/*Логотип MyfinGroup*/
.mfg-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.aoa-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2184px;
}

/*Прописаны руками*/
.xaf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.xcd-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.xdr-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.xof-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.xpf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.zmk-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}

.clf-20 {
	background: url(../../img/sprites/flags_sprite20x14.png) no-repeat left -2170px;
}
