.search {
	display: flex;
	width: 100%;
}

/* search--col */
.search.search--col {
	flex-direction: column;
}

.search.search--col .search__btn {
	margin: 10px 0 0 0;
	width: 100%;
}

.search.search--col .search__btn .btn {
	width: 100%;
}

/* search--col //end */

.search__input {
	flex-grow: 2;
}

/* Сделано для того, чтобы улучшить акксесебилити не выводя при этом текст */
.search__input label {
	font-size: 0;
}

.search__btn {
	flex-shrink: 0;
	margin-left: 10px;
}